.buy-markets-type
  button(data-markets-type="all").active Все
  button(data-markets-type="distributors") Дистрибьютеры
  button(data-markets-type="hypermarkets") Гипермаркеты
  button(data-markets-type="retail") Розничные магазины
