.buy-market-not-found
  h2
    | Не нашли свой магазин? Сообщите нам!
  div
    p
      | Вы являетесь нашим официальным дистрибьютером, но не нашли свой магазин в нашем списке? Сообщите нам об этом и наши специалисты свяжутся с Вами для уточнения деталей
    a(href="#market").js-modal
      | Сообщить о магазине
