form(action="").publications-subscription

    .publications-subscription__tilt

        .publications-subscription__tilt-part.publications-subscription__tilt-part--first
            .publications-subscription__tilt-item.publications-subscription__tilt-item--first

                h3.publications-subscription__title
                    |Подписка на публикации

                p.publications-subscription__text
                    |Идеи, которые нас вдохновляют, видео-интервью и переводы исследований, которые были нам полезны в процессе работы.
        
        .publications-subscription__tilt-part.publications-subscription__tilt-part--second
            .publications-subscription__tilt-item.publications-subscription__tilt-item--second

                .radio-tabs

                    .radio-tabs__line

                        label.radio-tabs__item
                            input.radio-tabs__input(type="radio", name="subscription", value="all", checked)
                            .radio-tabs__tab Все

                        label.radio-tabs__item
                            input.radio-tabs__input(type="radio", name="subscription", value="only-news")
                            .radio-tabs__tab Только новости
                        
                        label.radio-tabs__item
                            input.radio-tabs__input(type="radio", name="subscription", value="only-publications")
                            .radio-tabs__tab Только публикации

                .publications-subscription__checkbox
                    
                    label.checkbox-input
                        input.checkbox-input__input(type="checkbox", name="agreement", required)
                        p.checkbox-input__text
                            | «Я выражаю согласие на обработку ПДн в соответствии с 
                            a(href="#").checkbox-input__link
                                | Политикой конфиденциальности
                            | »

    .publications-subscription__bottom

        .publications-subscription__email
            input.text-input.publications-subscription__email-input(type="text", name="email", placeholder="Введите Ваш E-mail", required)

        .publications-subscription__submit
            +btn-p-gram("Подписаться")
