@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/select2/dist/css/select2";
@import "../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min";
@import "base/import";
@import "mixins/import";
@import "modules/import";
@import "components/import";
@import "pages/import";
@import "b-/import.scss";
@import "bem/style.scss";

.page {
  margin-left: 80px;
  width: calc(100% - 80px);
  min-height: 300px; // тест
  border-left: 1px solid $color-border;

  &-title {
    margin-top: 35px;
    font-family: $font-second;
    font-weight: bold;
    font-size: 48px;
    line-height: 69px;
    color: $color-main;
  }

  .content {
    padding: 60px 60px 120px 60px;
    overflow: hidden;

    &-row {
      display: flex;

      .content {
        padding: 60px 80px 120px 40px;
        width: calc(100% - #{$sidemenu-l});
      }
    }
  }

  @media (max-width: $desktop-m) {
    margin-left: 40px;
    width: calc(100% - 40px);

    &-title {
      font-size: 40px;
      line-height: 60px;
    }

    .content {
      &-row {
        .content {
          width: calc(100% - #{$sidemenu-m});
        }
      }
    }
  }

  @media (max-width: $desktop-s) {
    margin-left: 0;
    width: 100%;
    border-left: none;

    &-title {
      font-size: 32px;
      line-height: 50px;
    }

    .content {
      &-row {
        .content {
          width: calc(100% - #{$sidemenu-s});
        }
      }
    }
  }

  @media (max-width: $desktop-to-mobile) {
    &-title {
      margin: 0 -30px;
      padding: 26px 30px 19px 30px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      font-size: 28px;
      line-height: 40px;
    }

    .content {
      &-row {
        .content {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: $mobile-xl) {
    &-title {
      margin: 0 -20px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 24px;
      line-height: 35px;
    }
  }
}

.dev {
  &-test {
    padding-top: 40px;
    border: 1px solid black;

    &.open {
      padding-bottom: 0;
    }
  }

  &-drop {
    margin-top: 40px;
    overflow: hidden;
    // border: 1px solid blue;
  }

  &-content {
    // margin-top: 40px;
    // border: 1px solid green;

    p {
      border: 1px solid red;

      &:not(:first-child) {
        margin-top: 40px;
      }
    }
  }
}