@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/select2/dist/css/select2";
@import "../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min";
@import "base/import";
@import "mixins/import";
@import "modules/import";
@import "components/import";
@import "pages/import";

.page {
  margin-left: 80px;
  width: calc(100% - 80px);
  border-left: 1px solid $color-border-second;
  min-height: 300px; //потом убрать
  overflow: hidden;

  &-title {
    margin-top: 35px;
    font-family: $font-third;
    color: $color-basic;
    font-weight: bold;
    font-size: 48px;
    line-height: 69px;
  }

  .content {
    padding: 60px;
    padding-bottom: 120px;

    &-row {
      height: 100%; // зачем?
      display: flex;

      .content {
        padding-left: 40px;
        padding-right: 80px;
        width: calc(100% - 287px);
        overflow: hidden;

        @media (max-width: 1280px) {
          width: calc(100% - 230px);
        }

        @media (max-width: 1024px) {
          width: calc(100% - 200px);
        }

        @media (max-width: 830px) {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1280px) {
    margin-left: 40px;
    width: calc(100% - 40px);
  }

  @media (max-width: 1024px) {
    margin: 0;
    width: 100%;
    border-left: none;
  }
}