@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/select2/dist/css/select2";
@import "../../node_modules/normalize.css/normalize";
@import "base/import";
@import "mixins/import";
@import "modules/import";
@import "components/import";
@import "pages/import";

.page {
  margin-left: 80px;
  width: calc(100% - 80px);
  border-left: 1px solid #e5e5e5;
  min-height: 300px; //потом убрать
  overflow: hidden; // для фоновых полос page404

  &-title {
    font-family: $font-third;
    color: $color-basic;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 69px;
  }

  .content {
    min-width: 0;
    padding: 0 60px;
    padding-top: 60px;
    height: 100%;
    flex-grow: 1; // когда content во flex-контейнере

    &-row{
      display: flex;
      height: 100%;
    }
  }

  //new
  .container {
    display: flex;

    .nav {
      padding-top: 36px;
      padding-left: 56px;
      width: 287px;
      border-right: 1px solid #E5E5E5;

      &-item {
        position: relative;

        .link {
          font-size: 14px;
          line-height: 56px;
          color: #6C6C6C;
        }

        &.active {
          .link {
            color: #262626;
          }

          &::before {
            position: absolute;
            content: "";
            display: block;
            width: 4px;
            height: 32.5px;
            top: 12px;
            left: -56px;
            background-image: url(../images/nav-item-mark.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .tab {
      padding: 57px 80px 120px 39px;
      flex-grow: 1;
    }
  }
}

// выпадающее меню select2
.select2-dropdown {
  border-radius: 0;
  border-color: $color-border-second;
}
