.trainers {
  &-slider {
    .slides {
      margin-top: 40px;
      overflow: hidden;

      .slide {
        font-size: 15px;
        line-height: 19px;
        max-width: 320px;

        img {
          display: block;
          max-width: 100%;
        }

        p {
          margin-top: 27px;

          &:first-of-type {
            margin-top: 30px;
            line-height: 30px;
          }
        }

        h3 {
          font-weight: bold;
          line-height: 40px;
          font-size: 18px;
        }
      }
    }
  }

  &-swiper {
    width: 100%;
    overflow: hidden;
  }

  &-slide {
    max-width: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;

    img {
      display: block;
      max-width: 100%;
    }

    p {
      margin-top: 30px;

      &:first-of-type {
        line-height: 30px;
      }
    }

    h3 {
      margin-top: 20px;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
