.compare {


    &__main {
        min-width: 0;
    }


    &__wrapper {
        display: flex;
    }

    &__container {
        flex-grow: 1;
        min-width: 0;
        display: flex;
    }

    &__controls {
        margin-top: 200px;
        width: 80px;
        height: 200px;
        flex-shrink: 0;
    }

    &__control {
        position: relative;
        width: 100%;
        height: 50%;
        display: block;
        transition: $ease-main;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-75%, -50%) rotate(45deg);
            content: "";
            display: block;
            $size: 25px;
            width: $size;
            height: $size;
            border: 2px solid $color-black;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        &:last-child {
            transform: rotate(180deg);
            border-bottom: 1px solid $color-gray-border;
        }


        &.swiper-button-disabled {
            opacity: 0.2;
            cursor: default;
        }
    }

    &__head {
        width: 20%;
        flex-shrink: 0;
        background-color: #f8f8f8;
        border-right: 1px solid $color-gray-border;
    }

    &__slider {
        margin-left: -1px;
        flex-grow: 1;
        border-right: 1px solid $color-gray-border;
        overflow: hidden;

        .swiper-container {
            max-width: 100%;
        }

        .swiper-slide {
            //border-left: 1px solid $color-gray-border;
        }

        &-header {
            position: fixed;
            top: 130px;
            display: flex;
            width: calc(80% - 130px);
            margin-left: 1px;
            z-index: 9;
            background: white;
            opacity: 0;
            transition: opacity .5s;
            box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
            > * {
                width: 25%;
                padding: 30px 25px;
                &:not(:last-child) {
                    border-right: 1px solid $color-gray-border;
                }
                .compare__title {
                    margin-top: 0;
                }
            }
            &.active {
                opacity: 1;
            }
        }
    }

    &__item {
        padding: 30px 25px;
        border-top: 1px solid $color-gray-border;
        font-size: 15px;
        line-height: 150%;
        border-left: 1px solid $color-gray-border;

        &:last-child {
            border-bottom: 1px solid $color-gray-border;
        }

        &--in-head {
            text-align: right;
            font-weight: bold;
        }

        &--front {
            position: relative;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &--thin {
            padding-top: 13px;
            padding-bottom: 13px;
            > * {
                margin: 0;
            }
        }
        &--union {
            border-left: 1px solid transparent;
        }

        &.red {
            background: #FFDDDD;
        }

    }

    &__product {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__image {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: 55px;
        font-family: $font-title;
        font-size: 15px;
    }

    &__delete {
        position: absolute;
        top: 10px;
        right: 10px;
        $size: 40px;
        width: $size;
        height: $size;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid $color-gray-border;
        border-radius: 50%;

        &:hover {


            .compare__delete-icon {
                transform: rotate(90deg);
            }
        }

        &--disabled {
            display: none;
        }
    }

    &__delete-icon {
        display: flex;
        transition: $ease-main;


        i {
            display: flex;
        }
    }

    &__link {
        font-size: 15px;
        line-height: 150%;
        color: $color-red;
        text-decoration: underline;
    }


    &__bottom {
        margin: 0 auto;
        max-width: 205px;
    }
}
