.provider {


    &__main {
        padding-bottom: 120px;
    }


    @mixin block($block-width) {
        margin-left: -1px;
        margin-bottom: -1px;
        width: $block-width;
        border: 1px solid $color-border;
    }

    @mixin block-list($block-width, $block-count) {
        max-width: 100%;
        padding-right: 80px;
        display: flex;
        flex-wrap: wrap;
    }

    $block-width: 385px;

    &__cases {
        @include block-list($block-width, 3);
    }

    &__case {
        @include block(33.33333%);
        padding: 45px 0;
        min-height: 290px;
    }

    &__case-image {
        padding: 0 40px;
        max-height: 90px;
        display: flex;
    }

    &__case-content {
        position: relative;
        margin-top: 45px;
        padding: 0 40px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            height: 60px;
            border-left: 4px solid $color-red;
            border-top: 3px solid transparent;
        }
    }

    &__case-text {
        font-size: 15px;
        line-height: 150%;
    }


    &__demands {
        @extend %--pd--hor; // from b-content.scss
    }

    %container {
        position: relative;
        padding: 60px;
        padding-right: 80px;
        border: 1px solid $color-border;

        &::before {
            position: absolute;
            bottom: -1px;
            right: -1px;
            content: "";
            display: block;
            border-bottom: 80px solid $color-red;
            border-left: 25px solid transparent;
        }
    }

    &__demands-container {
        @extend %container;
    }

    &__demands-title {
        max-width: 690px;
    }

    &__demands-list {
        margin-top: 35px;
    }

    %list-item {
        position: relative;
        padding-left: 32px;

        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            display: block;
            width: 20px;
            border-top: 2px solid $color-red;
            border-right: 1px solid transparent;
        }
    }

    &__demands-item {
        @extend %list-item;
        font-size: 15px;
        line-height: 130%;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__demands-link {
        margin-top: 40px;
        max-width: 425px;
    }


    &__transport {
        @extend %--pd--hor; // from b-content.scss
        position: relative;
        z-index: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: 640px;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            min-width: 1235px;
            background-image: url(../images/provider-transport-1.jpg);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: cover;
        }
    }

    &__transport-text {
        margin-top: 40px;
        max-width: 430px;
        font-size: 15px;
        line-height: 150%;
    }


    &__info {
        @extend %--pd--hor;
    }

    &__info-container {
        @extend %container;
        margin-top: 60px;
    }

    &__info-row {
        display: flex;
        max-width: 970px;
    }

    &__info-col {

        &:first-child {
            width: 22%;
            flex-shrink: 0;
        }

        &:last-child {
            margin-left: 110px;
        }
    }

    &__info-list {
        margin-top: 15px;
    }

    &__info-item {
        @extend %list-item;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__info-title {
        font-weight: bold;
        font-size: 15px;
        line-height: 160%;

        &--mt--75 {
            margin-top: 75px;
        }
    }

    &__info-text {
        font-size: 15px;
        line-height: 150%;

        &--mt--15 {
            margin-top: 15px;
        }

        &--mt--35 {
            margin-top: 35px;
        }

        &--mt--50 {
            margin-top: 50px;
        }
    }

    &__info-link {
        color: $color-red;
    }


    &__docs-title {
        @extend %--pd--hor;
    }

    $block-width: 288px;

    &__docs {
        @include block-list($block-width, 3);
        margin-top: 60px;
    }

    &__doc {
        @include block($block-width);
        padding: 70px 40px 35px 45px;
        min-height: 288px;
    }

    &__doc-image {
        max-height: 35px;
        display: flex;
    }

    &__doc-content {
        margin-top: 75px;
        display: block;
    }

    &__doc-title {
        font-size: 15px;
        line-height: 150%;
    }

    &__doc-bottom {
        display: flex;
        align-items: center;
    }

    &__doc-info {
        margin-left: 10px;
        font-size: 12px;
        line-height: 200%;
        color: $color-gray;
    }


    &__form {
        margin-top: 40px;
    }
}
