.publications {

    &-subscription {
        padding: 80px 120px 80px 40px;
        background-color: $color-light-gray-background;
        overflow: hidden; // для разделителя

        @media (max-width: 1200px) {
            padding-right: 40px;
        }

        &__tilt {
            transform-origin: 0 100%;
            transform: skewX(-20deg);
            display: flex;

            @media (max-width: 992px) {
                transform: none;
                display: block;
            }

            &-part {
                flex-grow: 1;

                &--first {
                    position: relative;
                    padding-right: 40px;
                    width: 45%;

                    @media (max-width: 992px) {
                        padding-right: 0;
                        width: auto;
                    }

                    &::before {
                        position: absolute;
                        top: -1000%;
                        bottom: -1000%;
                        right: 0;
                        width: 1px;
                        content: "";
                        display: block;
                        background-color: $color-gray-border;

                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                &--second {
                    padding-left: 40px;
                    width: 55%;

                    @media (max-width: 1200px) {
                        padding-right: 80px;
                    }

                    @media (max-width: 992px) {
                        margin-top: 20px;
                        padding-left: 0;
                        padding-right: 0;
                        width: auto;
                    }
                }
            }

            &-item {
                transform: skewX(20deg);

                @media (max-width: 992px) {
                    transform: none;
                }

                &--first {
                    transform-origin: 0 100%;
                }

                &--second {
                    transform-origin: 0 0;
                }
            }
        }

        &__title {
            font-family: $font-title;
            font-size: 28px;
            line-height: 144%;
        }

        &__text {
            margin-top: 30px;
            font-size: 15px;
            line-height: 150%;
        }

        &__checkbox {
            margin-top: 30px;
        }

        &__bottom {
            position: relative;
            margin-top: 60px;
            display: flex;
        }

        &__email {
            position: relative;
            flex-grow: 1;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform-origin: 0 100%;
                transform: skewX(-20deg);
                content: "";
                display: block;
                background: white;
                border: 1px solid $color-gray-border;
            }

            &-input {
                position: relative;
                padding-right: 15px;
                height: 70px;
                border-right: none;

                &::before {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform-origin: 0 100%;
                    transform: skewX(-20deg);
                    content: "";
                    display: block;
                    background: lightblue;
                    border: 1px solid $color-gray-border;
                }
            }
        }

        &__submit {
            margin-left: 25px;
            flex-grow: 1;
            max-width: 260px;
        }
    }

    &-detail {

        &__relevant {

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        &__info {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            &-part {

                &--first {
                    position: relative;
                    padding: 15px 0 20px 40px;
                    min-height: 60px;
                    display: flex;
                    align-items: baseline;

                    &::before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        content: "";
                        display: block;
                        border-left: 4px solid $color-red;
                        border-top: 3px solid transparent;
                    }
                }

                &--second {
                    margin-left: 30px;
                    padding-right: 80px;
                }
            }
        }

        &__date {
            font-size: 15px;
            line-height: 150%;
            white-space: nowrap;
        }

        &__hashs {
            margin-left: 30px;
        }

        &__reading-time {
            font-size: 15px;
            line-height: 150%;
        }

        &__save {
            display: flex;
            align-items: baseline;

            &-image {
                display: flex;
                align-items: center;
            }

            &-text {
                margin-left: 10px;
                font-weight: bold;
                font-size: 15px;
                line-height: 150%;
            }
        }

        &__article {

            &-figure {
                margin-top: 60px;
            }

            &-img {
                display: block;
                max-width: 100%;
                max-height: 500px; // возможно другое значение
            }

            &-figcaption {
                margin-top: 25px;
                font-size: 12px;
                line-height: 150%;
                color: $color-gray;
            }

            &-wrapper {
                max-width: 900px;
            }

            &-item {
                margin-top: 60px;
            }

            &-text {
                margin-top: 30px;
                font-size: 15px;
                line-height: 150%;

                &--mg-t--20 {
                    margin-top: 20px;
                }

                &--mg-t--60 {
                    margin-top: 60px;
                }
            }

            &-list {
                margin-top: 20px;
                padding-left: 20px;

                &-item {
                    position: relative;
                    padding-left: 10px;
                    font-size: 15px;
                    line-height: 150%;

                    &::before {
                        position: absolute;
                        top: 8.5px;
                        left: 0;
                        content: "";
                        display: block;
                        $size: 5px;
                        width: $size;
                        height: $size;
                        background-color: $color-red;
                        border-radius: 50%;
                    }

                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
