%pseudo-element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
}


.videos {


    &__item-content {


        &:hover {


            .videos__item-button {
                border-color: white;
            }
        }
    }

    &__item-image {
        position: relative;
        max-height: 300px;
    }

    &__item-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        $size: 120px;
        width: $size;
        height: $size;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: $ease-main;

        &::before {
            @extend %pseudo-element;
            $size: 90px;
            width: $size;
            height: $size;
            background: $color-red;
            border-radius: 50%;
        }

        &::after {
            @extend %pseudo-element;
            margin-left: 10px;
            border-width: 10px 13px 10px 13px;
            border-style: solid;
            border-color: transparent;
            border-left-color: white;
        }
    }

    &__item-title {
        margin-top: 40px;
    }


    &__filter {
        // border: 1px solid black; // test

        * {
            // border: 1px solid black; // test
        }
    }

    &__filter-container {
        display: flex;
        align-items: flex-end;
    }

    $select-width: 27%;

    &__filter-item {
        width: $select-width;

        &:last-child {
            width: 100% - $select-width * 3;
        }
    }

    &__filter-caption-box {
        margin-bottom: 14px; // не margin-top для __filter-control-box, потому что __filter-caption-box опционален
    }

    &__filter-caption {
        display: block;
        font-size: 13px;
        line-height: 150%;
    }

    &__filter-control-box {
        height: 70px;
    }

    &__filter-button {
        padding: 23px 20px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F7F7F7;
        border: 1px solid $color-border;
    }

    &__filter-button-text {
        font-size: 15px;
        line-height: 150%;
    }

    &__filter-button-icon {
        display: flex;
    }
}
