%pseudo-element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
}


.videos {


    &__item-content {


        &:hover {


            .videos__item-button {
                border-color: white;
            }
        }
    }

    &__item-image {
        position: relative;
        max-height: 300px;
    }

    &__item-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        $size: 120px;
        width: $size;
        height: $size;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: $ease-main;

        &::before {
            @extend %pseudo-element;
            $size: 90px;
            width: $size;
            height: $size;
            background: $color-red;
            border-radius: 50%;
        }

        &::after {
            @extend %pseudo-element;
            margin-left: 10px;
            border-width: 10px 13px 10px 13px;
            border-style: solid;
            border-color: transparent;
            border-left-color: white;
        }
    }

    &__item-title {
        margin-top: 40px;
    }


    &__filter-container {
        display: flex;
        align-items: flex-end;
    }

    $select-width: 27%;

    &__filter-item {
        width: calc(#{$select-width} + 1px);

        &:not(:first-child) {
            margin-left: -1px;
        }

        &:last-child {
            width: 100% - $select-width * 3;
        }
    }

    &__filter-caption-box {
        margin-bottom: 14px; // не margin-top для __filter-control-box, потому что __filter-caption-box опционален
    }

    &__filter-caption {
        display: block;
        font-size: 13px;
        line-height: 150%;
    }

    &__filter-control-box {
        height: 70px;
    }

    &__filter-button {
        padding: 23px 20px;
        min-width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F7F7F7;
        border: 1px solid $color-border;
    }

    &__filter-button-text {
        font-size: 15px;
        line-height: 150%;
    }

    &__filter-button-icon {
        margin-left: 20px;
        display: flex;
    }
}


.select2-container {

    $angle: 360deg;

    &--my-theme {


        .selection {


            .select2-selection {
                padding: 24px 20px;
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $color-border;


                .select2-selection__rendered {
                    padding: 0;
                    max-height: 100%;
                    font-family: $font-title;
                    font-size: 15px;
                    line-height: 144%;
                    white-space: normal;
                }

                .select2-selection__arrow {
                    position: relative;
                    transform: rotate($angle);
                    margin-left: 20px;
                    width: 12px;
                    height: 8px;
                    flex-shrink: 0;
                    transition: $ease-main;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -75%) rotate(45deg);
                        content: "";
                        display: block;
                        $size: 8px;
                        width: $size;
                        height: $size;
                        $border: 1px solid $color-red;
                        border-bottom: $border;
                        border-right: $border;
                    }
                }
            }
        }


        .select2-dropdown {
            border: none;


            .select2-results {


                .select2-results__options {


                    .select2-results__option {
                        padding: 10px 15px;
                        min-height: 40px;
                        display: flex;
                        align-items: center;
                        $border: 1px solid $color-border;
                        border-left: $border;
                        border-right: $border;
                        color: $color-gray;

                        &:last-child {
                            border-bottom: $border;
                        }

                        &--highlighted {
                            background-color: $color-red;
                            border-color: $color-red;
                            color: white;

                            &:last-child {
                                border-color: $color-red;
                            }
                        }
                    }
                }
            }
        }
    }

    &--open {


        .selection {


            .select2-selection {


                .select2-selection__arrow {
                    transform: rotate($angle + 180deg);
                }
            }
        }
    }
}