/*

*/

$row-gap: 3px;
$col-gap: 6.5px;

.b-breadcrumbs {
  margin: -#{$row-gap / 2} -#{$col-gap / 2};
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 14px;

  @media (max-width: $mobile-xl) {
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
  }

  &__item {
    margin: #{$row-gap / 2} #{$col-gap / 2};
    display: flex;
    color: $color-gray;
    @media (max-width: $mobile-xl) {
      white-space: nowrap;
    }

    &:not(:first-child) {
      &::before {
        content: "—  ";
        white-space: pre;
      }
    }

    &:last-child {
      .b-breadcrumbs__link {
        color: $color-black;
        pointer-events: none;
      }
    }
  }
}
