/*
  описание:
    контентная часть страницы между header и footer
  
  структура:
    .content
      .content__wrapper (обертка для позиционирования, огарничения итд)
        aside.content__side-bar (опционально (учитывается отсутствие), боковая панель, обычно содержит навигационное меню)
        main.content__main (содержимое страницы)

  свойства:
    content
      без ограничений
      left padding резиновый (5%) максимум (80px для 1600+)
    wrapper
      без ограничений
      flex
      items stretch
    side-bar
      может отсутствовать
      влияет на соседний (+) main
        main padding left 40px
      резиновый (19%) максимум (288px)
      padding top 38px
      border-left
    main
      растянут
      padding 60px 80px 120px 60px (в общем случае)
        padding left 40px (если side-bar отсутствует)
      border-left
*/

.b-content {
  padding-left: 80px;    
  
  @media (max-width: 1600px) {
    padding-left: 5%;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    
    min-height: 100vh; // test
  }

  &__side-bar {
    padding-top: 38px;
    flex-basis: 19%;
    max-width: 288px;
    border-left: 1px solid $color-border;

    &+.b-content__main {
      padding-left: 40px;
    }
  }

  &__main {
    padding: 60px 80px 120px 60px;
    flex-grow: 1;
    border-left: 1px solid $color-border;
  }
}