.b-form {


  &__row {
    display: flex;
    
    &--jc--sb {
      justify-content: space-between;
    }

    &--ai--stretch {
      align-items: stretch;
    }

    &--ai--center {
      align-items: center;
    }

    &--mt--40 {
      margin-top: 40px;
    }

    &--mt--30 {
      margin-top: 30px;
    }

    &--mt--20 {
      margin-top: 20px;
    }
  }


  &__item {
    display: block;

    &--w--50p {
      width: 50%;
    }

    &--fg--1 {
      flex-grow: 1;
    }

    &--order--1 {
      order: 1;
    }

    &--max-w--270 {
      max-width: 270px;
    }

    &--mt--30 {
      margin-top: 30px;
    }

    &--ml--40 {
      margin-left: 40px;
    }

    &--ai--center {
      display: flex;
      align-items: center;
    }

    &--jc--end {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__item-title {
    font-size: 14px;
    line-height: 16px;

    &--mb--17 {
      margin-bottom: 17px;
    }
  }

  &__item-input {
    
    &--max-w--340 {
      max-width: 340px
    }

    &--max-w--390 {
      max-width: 390px
    }

    &--max-w--580 {
      max-width: 580px
    }
  }
}
