.btn-p-gram {
    position: relative;
    height: 70px;

    &__btn {
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: bottom;
        transform: translateX(calc(-50% - (25px / 2))) skewX(-20deg);
        width: calc(100% - 25px);
        height: 100%;
        display: block;

        &:hover {

            &+.btn-p-gram__view-wrap .btn-p-gram__view {
                &::before {
                    transform: translateX(-200%);
                }

                &::after {
                    transform: translateX(200%);
                }
            }

            &~.btn-p-gram__content .btn-p-gram__icon {
                transform: translateX(5px);
            }
        }
    }

    &__view-wrap {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + (10px * 2));
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    &__view {
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: bottom;
        transform: translateX(calc(-50% - (25px / 2))) skewX(-20deg);
        width: calc(100% - (10px * 2) - 25px);
        height: 100%;
        background: $color-red;

        &::before,
        &::after {
            position: absolute;
            top: -100%;
            content: "";
            display: block;
            width: 5px;
            height: 300%;
            background: $color-red;
            transition: $ease-main;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        padding: 0 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    &__text {
        margin-right: 20px;
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: white;
        white-space: nowrap;
    }

    &__icon {
        transition: $ease-main;

        i {
            display: block;
        }
    }

    &--mobile {
        $size: 18px;

        @media (max-width: 992px) {
            height: 50px;
        }

        .btn-p-gram__btn {

            @media (max-width: 992px) {
                transform: translateX(calc(-50% - (#{$size} / 2))) skewX(-20deg);
                width: calc(100% - #{$size});
            }
        }

        .btn-p-gram__view {

            @media (max-width: 992px) {
                transform: translateX(calc(-50% - (#{$size} / 2))) skewX(-20deg);
                width: calc(100% - (10px * 2) - #{$size});
            }
        }

        .btn-p-gram__text {

            @media (max-width: 992px) {
                font-size: 15px;
                line-height: 17px;
            }
        }
    }
}