
.checkbox-input {
  position: relative;
  padding-left: 32px;
  display: block;
  cursor: pointer;

  &__input {
    opacity: 0;
    position: absolute;

    &:checked+.checkbox-input__text::after {
      opacity: 1;
    }
  }

  &__text {
    position: relative;
    font-size: 12px;
    line-height: 150%;

    &::before {
      position: absolute;
      top: 0;
      left: -32px;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $color-border;
      transition: $ease-main;
    }

    &::after {
      opacity: 0;
      position: absolute;
      top: 6px;
      left: calc(-32px + 6px);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $color-red;
      transition: $ease-main;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
