$hash-height: 22px;

.hash-panel {
    padding: 20px 120px 20px 40px;
    min-height: 70px;
    display: flex;
    align-items: baseline;
    border-top: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;

    &--active {
        
        .hash-panel__button {
            
            &::before {
                transform: translate(1px, -25%) rotate(225deg);
            }
        }
    }

    &__title {
        white-space: nowrap;
    }

    &__wrapper {
        margin-left: 20px;
        flex-grow: 1;
        max-height: $hash-height; // анимируемое свойство, dropdown
        overflow: hidden;
        transition: $ease-main;
    }

    &__container {
        max-width: 700px;
    }

    &__button {
        position: relative;
        padding-left: 18px;
        margin-left: 20px;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(1px, -75%) rotate(45deg);
            $size: 6px;
            width: $size;
            height: $size;
            content: "";
            display: block;
            border-right: 1px solid $color-red;
            border-bottom: 1px solid $color-red;
            transition: $ease-main;
        }

        &:hover {

            .hash-panel__button-text {
                border-color: $color-red;
            }
        }

        &-text {
            border-bottom: 1px dashed transparent;
            font-size: 15px;
            line-height: 150%;
            color: $color-gray;
            white-space: nowrap;
            transition: $ease-main;
        }
    }

    &--mobile {
        
        @media (max-width: 768px) {
            padding-right: 40px;
            min-height: 60px;
            justify-content: space-between;
        }

        @media (max-width: 576px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .hash-panel__wrapper {

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
