.list {
  margin-top: 20px;

  &-item {
        position: relative;
        padding-left: 32px;
        line-height: 19px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &::before {
          position: absolute;
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          background-image: url(../images/list-style-line.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          left: 0;
          top: 9px;
        }
  }
}