.title {
  font-family: $font-title;

  &--page {
    font-size: 48px;
    line-height: 144%;
  }

  &--section {
    font-size: 28px;
    line-height: 144%;
  }

  &--default {
    font-size: 20px;
    line-height: 160%;
  }

  &--l-h--144p {
    line-height: 144%;
  }
}
