.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.8em 9.6em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-expand:before {
      background-position: 0em 0em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-flag:before {
      background-position: 0em -1.6em;
      width: 1.2em;
      height: 1.6em;
  }




  .svg-icon.svg-mail:before {
      background-position: 0em -3.2em;
      width: 1.8em;
      height: 1.4em;
  }




  .svg-icon.svg-map-pin:before {
      background-position: 0em -4.6em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-person:before {
      background-position: 0em -6.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-search:before {
      background-position: 0em -7.8em;
      width: 1.8em;
      height: 1.8em;
  }





