.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.2em 125.4em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-arrow:before {
      background-position: 0em 0em;
      width: 2.5em;
      height: 1.4em;
  }




  .svg-icon.svg-calculator:before {
      background-position: 0em -1.4em;
      width: 2.3em;
      height: 2.5em;
  }




  .svg-icon.svg-calendar:before {
      background-position: 0em -3.9em;
      width: 2.6em;
      height: 2.6em;
  }




  .svg-icon.svg-cm_logo:before {
      background-position: 0em -6.5em;
      width: 11.2em;
      height: 2.4em;
  }




  .svg-icon.svg-delete:before {
      background-position: 0em -8.9em;
      width: 1em;
      height: 1em;
  }




  .svg-icon.svg-down:before {
      background-position: 0em -9.9em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-down-gray:before {
      background-position: 0em -11.7em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-expand:before {
      background-position: 0em -13.5em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-expand-white:before {
      background-position: 0em -15.1em;
      width: 1.6em;
      height: 1.7em;
  }




  .svg-icon.svg-facebook:before {
      background-position: 0em -16.8em;
      width: 1em;
      height: 2em;
  }




  .svg-icon.svg-fb:before {
      background-position: 0em -18.8em;
      width: 1em;
      height: 2em;
  }




  .svg-icon.svg-file-1:before {
      background-position: 0em -20.8em;
      width: 1.7em;
      height: 1em;
  }




  .svg-icon.svg-flag:before {
      background-position: 0em -21.8em;
      width: 1.2em;
      height: 1.6em;
  }




  .svg-icon.svg-inst:before {
      background-position: 0em -23.4em;
      width: 1.5em;
      height: 1.5em;
  }




  .svg-icon.svg-link-white-arrow:before {
      background-position: 0em -24.9em;
      width: 2.5em;
      height: 1.4em;
  }




  .svg-icon.svg-mail:before {
      background-position: 0em -26.3em;
      width: 1.8em;
      height: 1.4em;
  }




  .svg-icon.svg-map-pin:before {
      background-position: 0em -27.7em;
      width: 2.2em;
      height: 2.3em;
  }




  .svg-icon.svg-map-pin-big:before {
      background-position: 0em -30em;
      width: 1.7em;
      height: 2.1em;
  }




  .svg-icon.svg-paper-plane:before {
      background-position: 0em -32.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-pdf:before {
      background-position: 0em -33.9em;
      width: 6.4em;
      height: 5.7em;
  }




  .svg-icon.svg-pdf-2:before {
      background-position: 0em -39.6em;
      width: 3.6em;
      height: 4.3em;
  }




  .svg-icon.svg-pdf-3:before {
      background-position: 0em -43.9em;
      width: 2.8em;
      height: 3.4em;
  }




  .svg-icon.svg-person:before {
      background-position: 0em -47.3em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-phone:before {
      background-position: 0em -48.9em;
      width: 1.2em;
      height: 1.8em;
  }




  .svg-icon.svg-plus-circle:before {
      background-position: 0em -50.7em;
      width: 2.1em;
      height: 2.1em;
  }




  .svg-icon.svg-provider-case-1:before {
      background-position: 0em -52.8em;
      width: 11.1em;
      height: 9.3em;
  }




  .svg-icon.svg-provider-case-2:before {
      background-position: 0em -62.1em;
      width: 9.3em;
      height: 9.2em;
  }




  .svg-icon.svg-provider-case-3:before {
      background-position: 0em -71.3em;
      width: 10.3em;
      height: 8.8em;
  }




  .svg-icon.svg-provider-case-4:before {
      background-position: 0em -80.1em;
      width: 8.5em;
      height: 9.4em;
  }




  .svg-icon.svg-provider-case-5:before {
      background-position: 0em -89.5em;
      width: 5.3em;
      height: 9em;
  }




  .svg-icon.svg-provider-case-6:before {
      background-position: 0em -98.5em;
      width: 9em;
      height: 8.9em;
  }




  .svg-icon.svg-question:before {
      background-position: 0em -107.4em;
      width: 2.2em;
      height: 2.2em;
  }




  .svg-icon.svg-question-circle:before {
      background-position: 0em -109.6em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-rating-red:before {
      background-position: 0em -111.2em;
      width: 2.4em;
      height: 2.5em;
  }




  .svg-icon.svg-reset:before {
      background-position: 0em -113.7em;
      width: 1.4em;
      height: 1.4em;
  }




  .svg-icon.svg-search:before {
      background-position: 0em -115.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-star:before {
      background-position: 0em -116.9em;
      width: 2em;
      height: 2em;
  }




  .svg-icon.svg-star-active:before {
      background-position: 0em -118.9em;
      width: 2em;
      height: 2em;
  }




  .svg-icon.svg-time:before {
      background-position: 0em -120.9em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-twitter:before {
      background-position: 0em -122.7em;
      width: 1.9em;
      height: 1.5em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -124.2em;
      width: 2.2em;
      height: 1.2em;
  }





