.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.2em 40.1em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-cm_logo:before {
      background-position: 0em 0em;
      width: 11.2em;
      height: 2.4em;
  }




  .svg-icon.svg-down:before {
      background-position: 0em -2.4em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-down-gray:before {
      background-position: 0em -4.2em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-expand:before {
      background-position: 0em -6em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-expand-white:before {
      background-position: 0em -7.6em;
      width: 1.6em;
      height: 1.7em;
  }




  .svg-icon.svg-fb:before {
      background-position: 0em -9.3em;
      width: 1em;
      height: 2em;
  }




  .svg-icon.svg-flag:before {
      background-position: 0em -11.3em;
      width: 1.2em;
      height: 1.6em;
  }




  .svg-icon.svg-inst:before {
      background-position: 0em -12.9em;
      width: 1.5em;
      height: 1.5em;
  }




  .svg-icon.svg-link-white-arrow:before {
      background-position: 0em -14.4em;
      width: 2.5em;
      height: 1.4em;
  }




  .svg-icon.svg-mail:before {
      background-position: 0em -15.8em;
      width: 1.8em;
      height: 1.4em;
  }




  .svg-icon.svg-map-pin:before {
      background-position: 0em -17.2em;
      width: 2.2em;
      height: 2.3em;
  }




  .svg-icon.svg-map-pin-big:before {
      background-position: 0em -19.5em;
      width: 1.7em;
      height: 2.1em;
  }




  .svg-icon.svg-pdf:before {
      background-position: 0em -21.6em;
      width: 6.4em;
      height: 5.7em;
  }




  .svg-icon.svg-person:before {
      background-position: 0em -27.3em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.svg-phone:before {
      background-position: 0em -28.9em;
      width: 1.2em;
      height: 1.8em;
  }




  .svg-icon.svg-plus-circle:before {
      background-position: 0em -30.7em;
      width: 2.1em;
      height: 2.1em;
  }




  .svg-icon.svg-rating-red:before {
      background-position: 0em -32.8em;
      width: 2.4em;
      height: 2.5em;
  }




  .svg-icon.svg-search:before {
      background-position: 0em -35.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-time:before {
      background-position: 0em -37.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -38.9em;
      width: 2.2em;
      height: 1.2em;
  }





