$breakpoints: ('xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px,

  'custom-1235': 1235px,
  'custom-860': 860px,
  'custom-800': 800px,
  'custom-660': 660px,
);

$desktop-m: 1280px;
$desktop-s: 1024px;
$desktop-to-mobile: 830px;
$mobile-xl: 600px;

$sidemenu-l: 287px;
$sidemenu-m: 230px;
$sidemenu-s: 200px;

$color-input: black;
$color-placeholder: #B3B3B3;
$color-selection: #2252d8;
$color-main: #262626;
$color-red: #E41D2C;
$color-gray: #6C6C6C;
$color-border: #E5E5E5;

$font-main: "Arimo";
$font-second: "Nexa Replica Ru";
$font-third: "MachineC";

$ease-main: .5s ease;