.docs {
  position: relative;
  >h2{
    padding-right: 190px;
  }
  &-download {
    &_all {
      position: absolute;
      right: 0;
      top: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 250%;
      color: #262626;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        margin-right: 15px;
        width: 18px;
        height: 18px;
        background-image: url(../images/download-item-mark.svg);
        filter: brightness(0);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &-list {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: -35px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
  }
  &-item {
    margin-left: -1px;
    margin-top: -1px;
    width: 25%;
    padding: 40px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    &_img {
      margin-bottom: 30px;
    }
    &_name {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #262626;
    }
    &_download {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      color: #6c6c6c;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        margin-right: 10px;
        width: 18px;
        height: 18px;
        background-image: url(../images/download-item-mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
