.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10000;
  @include fadeOutEase;

  &.active {
    @include fadeInEase;
  }

  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &-bg {
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &-close {
    position: absolute;
    right: 10px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    top: 0;
    z-index: 3;
    cursor: pointer;

    &:hover {
      &:after {
        transform: translate(-50%, -50%) rotate(-225deg);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 23px;
      background-color: black;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all $ease-main;
      @media (max-width: 720px){
        width: 17px;
      }
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &-eventsList {
    margin-top: 50px;
  }

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    color: #262626;
  }

  &-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include fadeOutEase;

    &.active {
      @include fadeInEase;
    }

    &-wrapper {
      max-height: 100vh;
      position: relative;
      padding-right: 10px;
      background-color: transparent;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &-content {
      background-color: white;
      padding: 50px;
      min-height: 100vh;
    }

    &-left {
      max-width: 45%;

      .modal {
        &-item {
          &-wrapper {
            @include customScrollBar(7px, 3px, #e41d2c, #ffffff);
          }
        }
      }
    }

    &-fill {
      .modal {
        &-item {
          &-wrapper {
            max-height: auto;
            background-color: white;
            padding-right: 0;
            padding-left: 80px;

            @media (max-width: 720px){
              padding-left: 0;
            }
          }
          &-content {
            border-left: 1px solid $color-border;
            padding: 80px 80px 135px 60px;

            @media (max-width: 720px){
              padding: 60px 20px 70px;
            }

            // h1 {
            //   font: normal bold 28px/40px $font-second;
            // }

            h2 {
              font: normal bold 20px/32px $font-second;

              &:last-of-type {
                margin-top: 80px;
              }
            }

            form {
              margin-top: 80px;
              padding-left: 270px;

              @media (max-width: 1024px){
                padding-left: 0;
              }

              @media (max-width: 500px){
                margin-top: 40px;
              }
            }

            .field {
              &-row {
                .main-link_rect {
                  max-width: 376px;
                  justify-self: flex-end;
                  i {
                    margin-left: 19px;
                    width: 25px;
                    height: 14px;
                  }
                }
                &:not(:first-child) {
                  margin-top: 30px;
                }

                &--onecol {
                  grid-template-columns: 1fr;
                }
              }
              &-select {
                .select2-container {
                  min-width: 100%;
                  .select2-selection {
                    height: 60px;
                    .select2-selection__rendered {
                      padding-left: 25px;
                      padding-right: 85px;
                      line-height: 60px;
                    }
                    .select2-selection__arrow {
                      width: 60px;
                    }
                    .select2-selection__placeholder {
                      color: $color-placeholder;
                    }
                  }
                }
              }

              &-checkbox {
                max-width: 353px;

                @media (max-width: 500px){
                  margin-bottom: 20px;
                }
              }
            }
          }
        }

        &-close {
          top: 70px;
          right: 80px;
          width: 64px;
          height: 64px;
          background-color:#F4F4F4;
          @media (max-width: 1024px){
            width: 41px;
            height: 41px;
          }

          @media (max-width: 720px){
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
