.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10000;
  @include fadeOutEase;
  &.active {
    @include fadeInEase;
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &-bg {
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &-close {
    position: absolute;
    right: 10px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    top: 0;
    z-index: 3;
    cursor: pointer;
    &:hover {
      &:after {
        transform: translate(-50%, -50%) rotate(-225deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 23px;
      background-color: black;
      height: 1px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all $ease-main;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &-eventsList {
    margin-top: 50px;
  }
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    color: #262626;
  }
  &-item {
    position: relative;
    @include fadeOutEase;
    &.active {
      @include fadeInEase;
    }
    &-wrapper {
      max-height: 100vh;
      position: relative;
      padding-right: 10px;
      background-color: transparent;
      @include customScrollBar(7px, 3px, #e41d2c, #ffffff);
    }
    &-content {
      background-color: white;
      padding: 50px;
      min-height: 100vh;
    }
    &-left {
      max-width: 45%;
    }
  }
}
