.sidebar {
  padding: 35px 0;
  width: 287px;
  min-width: 287px; // зачем?
  border-right: 1px solid $color-border-second;
  overflow: hidden;

  &-menu {
    $padding-left: 55px;
    $padding-right: 35px;

    @mixin sidebar_link_wrapper {
      position: relative;
      font-size: 14px;
      line-height: 140%;
      color: $color-gray;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &::before {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 33px;
        display: block;
        border-left: 4px solid red;
        border-top: 2px solid transparent;
      }

      &.active {
        color: $color-basic;

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        color: $color-basic;
      }
    }

    @mixin sidebar_link {
      position: relative;
      padding-left: $padding-left;
      padding-right: $padding-right;
      height: 33px;
      display: flex;
      align-items: center;
      transition: color $ease-main;
    }

    &>a {
      @include sidebar_link_wrapper();
      @include sidebar_link();
    }

    &_dropdown {
      @include sidebar_link_wrapper();

      span {
        @include sidebar_link();
        margin-bottom: 15px;

        &::after {
          filter: grayscale(1);
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          content: "";
          display: block;
          width: 6px;
          height: 3px;
          background-image: url(../images/dropdown-str-red.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
          transition: $ease-main;
        }
      }

      &-list {
        display: none;
        padding-left: $padding-left;
        padding-right: $padding-right;

        a {
          display: block;
          font-size: 12px;
          line-height: 250%;
          color: $color-basic;
          transition: color $ease-main;

          &.active,
          &:hover {
            color: $color-red;
          }
        }
      }

      &.open,
      &.active {
        span::after {
          transform: rotate(180deg);
          filter: grayscale(0);
        }
      }
    }

    @media (max-width: 1280px) {
      &>a {
        padding-left: 40px;
      }

      .sidebar-menu_dropdown {
        span {
          padding-left: 40px;
        }

        &-list {
          padding-left: 40px;
        }
      }
    }

    @media (max-width: 1024px) {
      $padding: 30px;

      &>a {
        padding: 0 $padding;
      }

      .sidebar-menu_dropdown {
        span {
          padding: 0 $padding;
        }

        &-list {
          padding: 0 $padding;
        }
      }
    }
  }

  .client-service-card {
    margin-top: 35px;
    width: 100%;
    padding: 50px 0 43px 55px;
    border-left: none;
    border-right: none;
  }

  @media (max-width: 1280px) {
    width: 250px;
    min-width: 250px;
  }

  @media (max-width: 1024px) {
    width: 210px;
    min-width: 210px;
  }

  @media (max-width: 830px) {
    display: none;
  }
}