.sidebar {
  padding: 35px 0;
  width: 287px;
  min-width: 287px;
  border-right: 1px solid $color-border-second;

  &-menu {
    @mixin sidebar_link_wrapper {
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      color: #6c6c6c;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &::before {
        opacity: 0;
        content: "";
        width: 4px;
        height: 33px;
        display: block;
        position: absolute;
        border-left: 4px solid red;
        border-top: 2px solid transparent;
        left: 0;
        top: 0;
      }

      &.active {
        color: #262626;

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        color: #262626;
      }
    }

    @mixin sidebar_link {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 55px;
      cursor: pointer;
      height: 33px;
      transition: color $ease-main;
    }

    &>a {
      @include sidebar_link_wrapper();
      @include sidebar_link();
      line-height: 140%;
      padding-left: 55px;
      padding-right: 40px;
    }

    &_dropdown {
      @include sidebar_link_wrapper();

      &.open,
      &.active {
        span::after {
          transform: rotate(180deg);
          filter: grayscale(0);
        }
      }

      span {
        @include sidebar_link();
        margin-bottom: 15px;
        padding-right: 40px;

        &::after {
          content: "";
          display: block;
          width: 6px;
          height: 3px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../images/dropdown-str-red.svg);
          filter: grayscale(1);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
          transition: all $ease-main;
        }
      }

      &-list {
        display: none;
        padding-left: 55px;
        padding-right: 40px;

        a {
          display: block;
          margin-bottom: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 250%;
          color: #262626;
          transition: color $ease-main;

          &:hover {
            color: #e41d2c;
          }

          &.active {
            color: #e41d2c;
          }
        }
      }
    }

    @media (max-width: 1280px) {
      &>a {
        padding-left: 40px;
      }

      .sidebar-menu_dropdown {
        span {
          padding-left: 40px;
        }

        &-list {
          padding-left: 40px;
        }
      }
    }

    @media (max-width: 1024px) {
      $padding: 30px;

      &>a {
        padding: 0 $padding;
      }

      .sidebar-menu_dropdown {
        span {
          padding: 0 $padding;
        }

        &-list {
          padding: 0 $padding;
        }
      }
    }
  }

  .client-service-card {
    margin-top: 35px;
    width: 100%;
    padding: 50px 0 43px 55px;
    border-left: none;
    border-right: none;
  }

  @media (max-width: 1280px) {
    width: 250px;
    min-width: 250px;
  }

  @media (max-width: 1024px) {
    width: 210px;
    min-width: 210px;
  }

  @media (max-width: 830px) {
    display: none;
  }
}