mixin icon(iconName, type = 'png')
  if(type == 'png')
    i(class='icon '+'icon-'+iconName)
  else
    i(class='svg-icon '+'svg-'+iconName)

mixin breadcrumbs(ar)
  .breadcrumbs
    span Главная
    each item in ar
      a #{item}

mixin link(href,text)
  a.main-link(href=href) #{text}
