mixin icon(iconName, type = 'png')
  if(type == 'png')
    i(class='icon '+'icon-'+iconName)
  else
    i(class='svg-icon '+'svg-'+iconName)

mixin breadcrumbs(path = [])
  .breadcrumbs
    if path.length
      a(href="#") Главная
    else
      i Главная
    - const curPage = path.pop()
    each page in path
      .link
        a(href="#")=page
    if curPage
      span=curPage

mixin link(href,text)
  a.main-link(href=href) #{text}
