//- пример tags

    -
        let tags = {

            pool: [
                { text: "#все", selected: true },
                "#семинар",
                "#конференция",
                "#новинки",
                "#академиягеркулес",
                "#социальная ответсвенность",
                { text: "#скидки", selected: true },
                "#новые",
                "#события",
                "#мероприятия",
                "#семинар",
                "#конференция",
                "#новинки",
                "#академиягеркулес",
                "#социальная ответсвенность",
            ],

            selection: [
                "#семинар",
                "#жизнькомпании",
                "#о компании",
            ],

        };



mixin select-tags(tags, classes)

    .select-tags(class = classes ? classes : "")

        .select-tags__row


            .select-tags__left


                .select-tags__title
                
                    .select-tags__title-text.select-tags__title-text--desktop Популярные темы:

                    .select-tags__title-text.select-tags__title-text--mobile Все



                .select-tags__selection

                    each tag in tags.selection

                        .select-tags__tag.select-tags__tag--selected

                            .select-tags__tag-text #{tag}



            //- overflow: hidden + ограничение высоты для анимации
            .select-tags__wrap

                //- контейнер, по которому производится расчет высоты содержимого
                .select-tags__wrap-container

                    //- содержимое с необходимыми внутренними отступами (padding)
                    .select-tags__container


                        each tag in tags.pool
                         
                            a.select-tags__tag(class = tag.selected ? "select-tags__tag--selected" : "", href="")
                        
                                .select-tags__tag-text #{tag.text ? tag.text : tag}



                        a.select-tags__tag.select-tags__tag--reset(href="")

                            .select-tags__tag-text Очистить все



            .select-tags__right

                button.select-tags__button

                    span.select-tags__button-text.select-tags__button-text--active Еще 6 тегов

                    span.select-tags__button-text Свернуть

