//- пример tags

    -
        let tags = {

            pool: [
                { text: "#все", selected: true },
                "#семинар",
                "#конференция",
                "#новинки",
                "#академиягеркулес",
                "#социальная ответсвенность",
                { text: "#скидки", selected: true },
                "#новые",
                "#события",
                "#мероприятия",
                "#семинар",
                "#конференция",
                "#новинки",
                "#академиягеркулес",
                "#социальная ответсвенность",
            ],

            selection: [
                "#семинар",
                "#жизнькомпании",
                "#о компании",
            ],

        };



mixin select-tags(tags, classes)

    .select-tags.js--select-tags(class = classes ? classes : "")

        .select-tags__row



            .select-tags__left


                .select-tags__title
                
                    .select-tags__title.js--select-tags--title-desktop Популярные темы:

                    .select-tags__title.js--select-tags--title-mobile Все


                .select-tags__selection.js--select-tags--selection

                    each tag in tags.selection

                        .select-tags__tag.select-tags__tag--selected

                            .select-tags__tag-text #{tag}



            //- ограничение высоты для анимации
            .select-tags__wrap

                //- контейнер для расчета высоты содержимого
                .select-tags__wrap-container

                    //- содержимое с необходимыми отступами
                    .select-tags__container.js--select-tags--pool


                        each tag in tags.pool
                         
                            a.select-tags__tag(class = tag.selected ? "select-tags__tag--selected" : "", href="")
                        
                                .select-tags__tag-text #{tag.text ? tag.text : tag}



                        a.select-tags__tag.select-tags__tag--reset.js--select-tags--button-reset(href="")

                            .select-tags__tag-text Очистить все



            .select-tags__right

                .select-tags__button.js--select-tags--button-slide

                    .select-tags__button-text Еще 6 тегов

