.whereBuy-map
  .map-data
    input(type="hidden", data-cords="48.467315, 134.998649" data-name="Леруа Мерлен" data-content="")
    input(type="hidden", data-cords="48.497486, 134.937148" data-name="ТЦ Глобус" data-content="")
    input(type="hidden", data-cords="48.475724, 135.071204" data-name="Технониколь" data-content="")
    input(type="hidden", data-cords="48.448400, 135.098353" data-name="ТЦ Глобус" data-content="")
  #map
