extends ../layouts/default

block variables
  - const pageTitle = "О компании";

block content
  .content-row
    include ./about/sidebar
    .content.about
      .about-mob
        +breadcrumbs([pageTitle])
        h1.page-title= pageTitle
      .about-top
        h1 О компании
        h2 20 лет успеха на рынке сухих строительных смесей!
        p История компании началась в 1997, когда в логистическом и деловом центре Сибири был основан завод «Геркулес-Сибирь».
      +breadcrumbs(["О компании"])
      .about-info
        .about-info_col
          p Основатели компании лично перенимали опыт у немецких производителей. В результате шестимесячной стажировки было куплено
            | #[span.content-bold-red  более 50 лицензий ]
            | на производство сухих строительных смесей. Закуплены современные производственные линии.
          p.content-right-padding Со временем связи с родоначальниками сухих строительных смесей только укреплялись. Сегодня технологический отдел компании «Геркулес-Сибирь» активно сотрудничает
            br
            | с лабораториями наших стратегических партнеров – мировыми лидерами в области строительной химии – компаниями BAYER, WACKER, Bang & Bonsomer.
        .about-info_col
          p Применение европейских технологий и использование высококлассного локального сырья (цемент, гипс, песок) сделали бренд «Геркулес»
            | #[span.content-bold-red  лучшим в Сибири по соотношению цена/качество ]
            | . Компания намеренно удерживает самые доступные цены на свою продукцию. Мы честны по отношению к нашему покупателю.
          p Важным событием в развитии компании стало открытие в 2015 году суперсовременного производственного цеха, позволившего увеличить общую производительность
            | #[span.content-bold-red  до 500 000 тонн ССС в год ]
            | .
      .about-quote
        blockquote Мы с большим уважением относимся к нашему прошлому, идём в ногу
          br
          | со временем и думаем о будущем. На сегодняшний день завод
          br
          | «Геркулес-Сибирь» – производитель сухих строительных  смесей №1 в Сибири.
      .about-list
        p Объем производства 350 000 тонн продукции в год
        p Крупнейший производитель сухих строительных смесей за Уралом
        p Каждая 2-ая квартира отделывается сухими смесями «Геркулес»
        p Современные
          br
          | производственные линии
        p Своя технологическая
          br
          | лаборатория
        p ТОП–3 крупнейших
          br
          | производителей в России
      .about-keys
        .about-keys_row
          .about-keys_col
            p 30%
            p Доля рынка в СФО более 30%
          .about-keys_col
            p 60%
            p Более 60% продукции "Геркулес" потребляется крупными строительными компаниями сибирского региона
          .about-keys_col
            p 500000 млн. м
              span.content-sup 2
            p Более 500 000 000 м
              span.content-sup 2
              | #{' '}
              | площадей в год отделывают смесями "Геркулес"
        h2 Наши колючи к успеху
        ul
          li: span Оборудование для механизации отделочных работ
          li: span Оперативная служба технической поддержки
          li: span Европейские стандарты качестве
      .about-geography
        .about-geography_col
          h2 География продаж
          p Мы постоянно расширяем свои деловые связи и налаживаем контакты в регионах.
            br
            br
            | Продукция «Геркулес» представлена более чем в 20 регионах Сибирского,  Дальне-Восточного, Уральского федеральных округов, в Крыму и Казахстане.
      .about-contacts
        h5 Наши реквизиты
        .about-contacts-row
          .about-contacts-col
            p.wide ООО «Геркулс-Сибирь»
              br
              | Почтовый адрес: 109451, Россия, Москва,
              br
              | улица Братиславская, дом 16, корпус 1, помещение 3
              br
              | ИНН 7722753969
              br
              | КПП 772301001
              br
              | ОГРН 1117746646269
          .about-contacts-col
            a.provider__doc-bottom(download href="")
              +icon("down-gray", "svg")
              span Скачать реквизиты
          .about-contacts-col
            p Если Вам стало известно о фактах противоправных действий и/или нарушении внутренних политик и процедур, превышении полномочий должностными лицами компании, её контрагентами, партнерами, нанесении ущерба компании этими лицами, просим Вас обращаться:
            ul.for-partners__features-list
              li.for-partners__features-item по «телефону доверия» +7 913 206-39-45
              li.for-partners__features-item или e-mail sb@gerkules.ru


