extends ../layouts/default

block variables
  -var pageTitle='Академия геркулес'

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="") Партнерам
        a(href="") Программа лояльности
        a(href="").active Академия «‎Геркулес»‎
    .content
      +breadcrumbs(["Партнерам", "Академия «‎Геркулес»‎"])
      .academy
        .academy-top
          h1.page-title Академия «‎Геркулес»‎
          +client_service_card
        include ../modules/events/control
        include ../modules/events/calendar
        h2 События на этой неделе
        include ../modules/events/week
        h2 Наши тренера
        include ../modules/trainers/slider
