extends ../layouts/default

block variables
  -
    const pageTitle = "Семинары по работе с сухими смесями «Геркулес»";

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="") Партнерам
        a(href="") Программа лояльности
        a(href="").active Академия «‎Геркулес»‎
      +client_service_card
    .content
      +breadcrumbs(["Партнерам", "Академия «‎Геркулес»", "Семинары по работе с сухими смесями «Геркулес»"])
      .academyEvent
        h1.page-title
          | Семинары по работе с сухими смесями «‎Геркулес»
        +hash_tags(["вебинар", "обучение"], "academy-event")
