extends ../layouts/default

block variables
  -
    const pageTitle = "Семинары по работе с сухими смесями «Геркулес»";

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="") Партнерам
        a(href="") Программа лояльности
        a(href="").active Академия «‎Геркулес»‎
      +client_service_card
      +client_review
    .content
      +breadcrumbs(["Партнерам", "Академия «‎Геркулес»", "Семинары по работе с сухими смесями «Геркулес»"])
      .academyEvent
        h1.page-title
          | Семинары по работе с сухими смесями «‎Геркулес»
        .academyEvent-sub
          +hashTags([
            ["вебинар", "#"],
            ["обучение", "#"],
          ],false)
          ul.academyEvent-sub--list
            li Количество участиников: 20
            li Свободных мест: 2
        include ../modules/events/infoPanel
        .academyEvent-aboutEvent
          h2 О мероприятии
          .aboutRow
            p
              | Проектная деятельность дает ответ на существующий вызов стремительно меняющегося мира, вовлекая
              br
              | в систему обучения реальные практики, реальных экспертов и настоящие проблемные ситуации, с которыми студенческие команды разбираются в ходе проектирования и формируя пул метапредметных компетенций
              br
              | у студентов.
              br
              br
              | Проектная деятельность аккумулирует теоретические знания и инструменты, которым обучают студентов
              br
              | в рамках стандартных дисциплин.
            +linkRect
              a(href="#registrationEventForm")
              span Записаться
              +icon("link-white-arrow", "svg")
        include ../modules/events/plan
        include ../modules/events/speaker
        include ../modules/events/registration

block modal

    .b-modal.b-modal--hide
        .b-modal__bg.b-modal__bg--dark
        .b-modal__content

            .academy__modal.modal-publication-msg.modal-publication-msg--hide
                .academy__modal-container.modal-publication-msg__container
                    h6.academy__modal-text.title.title--section
                        |Заявка на участие отправлена!
                        br
                        |В ближайшее время мы с вами свяжемся для подтверждения участия
                    button.academy__modal-close.modal-publication-msg__close
