extends ../layouts/default

block variables
  -var pageTitle='Академия геркулес'

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="") Партнерам
        a(href="") Программа лояльности
        a(href="").active Академия «‎Геркулес»‎
    .content
      +breadcrumbs(["Партнерам", "Академия «‎Геркулес»‎"])
      .academy
        .academy-top
          h1.page-title Академия «‎Геркулес»‎
          +client_service_card
        include ../modules/events/control
        include ../modules/events/calendar
        .events-week
          h2 События на этой неделе
          .events-week_slider
            +sliderControls
              button.events-week_slider-prev
              button.events-week_slider-next
            .swiper-wrapper
              -var thisIsSlider = true
              include ../modules/events/items
              -var thisIsSlider = true
              include ../modules/events/items
              
        h2 Наши тренера
        include ../modules/trainers/slider
