extends ../layouts/default.pug

block variables
  -var pageTitle='Заказ успешно оформлен.'

block content
  .cart.content
    h1.page-title Заказ успешно #[br] оформлен.
    main
      .cart-order-f
        .cart-order-f__item
          p Данные заказа отправлены на электронную почту.
        .cart-order-f__item
          ul
            li
              | Номер заказа
              span 84768286
            li
              | Дата
              span 23.05.2020
          h2 Куда теперь?
          .links
            a(href="").arrow-link
              .arrow-link__text Главная
              .arrow-link__icon.arrow-link__icon--ml--15
                +icon("arrow", "svg")
            a(href="").arrow-link
              .arrow-link__text Каталог
              .arrow-link__icon.arrow-link__icon--ml--15
                +icon("arrow", "svg")
            a(href="").arrow-link
              .arrow-link__text Контакты
              .arrow-link__icon.arrow-link__icon--ml--15
                +icon("arrow", "svg")

