extends ../layouts/default

block variables
  - const pageTitle = "Центральный офис";

block content
  .content-row
    include ./contacts/sidebar
    .content.contacts
      +breadcrumbs(['Контакты',pageTitle])
      h1.page-title #{pageTitle}
      h2 Завод «Геркулес-Сибирь»
      .contacts-block
        .contacts-block_item.col-2
          h3 Адрес
          p 630025, г. Новосибирск, ул. Электровозная-1
        .contacts-block_item
          h3 Режим работы 
            span ( по Новосибирскому времени )
          p Понедельник — Пятница: с 08.30 до 17.30
      .contacts-block
        .contacts-block_item
          h3 Позвонить нам
          p Горячая линия
          a(href="tel:8 (800) 250-30-10") 8 (800) 250-30-10
        .contacts-block_item
          p Многоканальный
          a(href="tel:8 (383) 338-31-31") 8 (383) 338-31-31
        .contacts-block_item
          p Служба доверия
          a(href="tel:+7 (913) 206-39-451") +7 (913) 206-39-451
      .contacts-block
        .contacts-block_item
          h3 Написать нам
          p По общим вопросам
          a(href="mailto:info@gerkules.ru").color info@gerkules.ru
        .contacts-block_item
          p Служба доверия
          a(href="mailto:sb@gerkules.ru").color sb@gerkules.ru
        .contacts-block_item
          p По вопросам юридического характера, а также замечания и предложения по деятельности ООО «Геркулес-Сибирь»
          a(href="mailto:yurist@gerkules.ru").color yurist@gerkules.ru
      .contacts-row
        .fs-contacts
          .fs-contacts_list
            .fs-contacts_item
              .fs-contacts_photo
                img(src="./images/photo-contact1-344x390.png", alt="")
              h3 Бернгард Андрей Сергеевич
              p Региональный представитель по Новосибирской области
              .fs-contacts_phone
                +icon("phone", "svg")
                a(href="tel:8 383 338 31 32") +7 (383) 338-31-32 вн. 119
              .fs-contacts_phone
                a(href="tel:8 913 789 01 14") +7 (913) 789-01-14
              .fs-contacts_email
                +icon("mail", "svg")
                a(href="berngard.as@gerkules.ru") berngard.as@gerkules.ru
            .fs-contacts_item
              .fs-contacts_photo
                img(src="./images/contact-1.jpg", alt="")
              h3 Щербаченко Павел Владимирович
              p Региональный представитель по Томской области
              .fs-contacts_phone
                +icon("phone", "svg")
                a(href="tel:8 913 865 32 63") +7 (913) 865-32-63
              .fs-contacts_email
                +icon("mail", "svg")
                a(href="sherbachenko.pv@gerkules.ru") sherbachenko.pv@gerkules.ru
      .contacts-block.another
        .contacts-block_item
          h3 Наши реквизиты
          p ООО «Геркулс-Сибирь»
          p Почтовый адрес: 109451, Россия, Москва, 
          p улица Братиславская, дом 16, корпус 1, помещение 3
          p ИНН 7722753969
          p КПП 772301001
          p ОГРН 1117746646269
        .contacts-block_item
          a(download href="")  Скачать реквизиты
          a(download href="")  Скачать свидетельство о постановке на учет в налоговой инспекции
          a(download href="")  Скачать свидетельство о государственной регистрации
      .footer-social
        a(href="")
          +icon('fb','svg')
        a(href="")
          +icon('vk','svg')
        a(href="")
          +icon('inst','svg')
      .whereBuy-map
        .map-data
          input(type="hidden", data-cords="48.467315, 134.998649" data-name="Леруа Мерлен" data-content="")
          input(type="hidden", data-cords="48.497486, 134.937148" data-name="ТЦ Глобус" data-content="")
          input(type="hidden", data-cords="48.475724, 135.071204" data-name="Технониколь" data-content="")
          input(type="hidden", data-cords="48.448400, 135.098353" data-name="ТЦ Глобус" data-content="")
        #map
