extends ../layouts/default.pug

block variables
  -var pageTitle='TEST'

block content
  .content
    .dev-test 123
      .dev-drop
        .dev-content
          p 123
          p 456
          p 789
    