extends ../layouts/default.pug

block variables
  -var pageTitle='TEST'

block content
  .content
    form(action="#")
      .btn-p-gram
        button(type="submit").btn-p-gram__btn
        .btn-p-gram__view-wrap
          .btn-p-gram__view
        .btn-p-gram__content
          span.btn-p-gram__text Задать вопрос
          .btn-p-gram__icon
            +icon("link-white-arrow", "svg")
    