extends ../layouts/default

block variables
  - const pageTitle = "Технические документы СФТК";

block content
  .content-row
    mixin sidebar_menu
      a(href="#") Документация
      a(href="#") Сертификаты
      a(href="#").active Технические документы СФТК
      a(href="#") POS-материалы
      a(href="#") Документы по претензиям
      a(href="#") Справочная информация по логистике
    .sidebar
      .sidebar-menu
        +sidebar_menu
    .content.documentation
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
        .sidebar-dropdown
          .sidebar-dropdown_content
            +sidebar_menu
      mixin tabs_menu
        .tabs-menu_item.active Альбом технических решений
        .tabs-menu_item Руководство по технологии монтажа
        .tabs-menu_item Рекомендации по эксплуатации СФТК
        .tabs-menu_item Технические характеристики линейки продукции СФТК
      .tabs.content-mobile
        .tabs-menu
          +tabs_menu
        .tabs-menu_mobile
          .tabs-menu_title
          .tabs-menu_dropdown
            .tabs-menu_content
              +tabs_menu
        .tabs-list
          .tabs-item.active
            h2 Альбом технических решений
              a(href="#")
                +icon("down", "svg")
                span Скачать всю группу
            +file_list-2(file_data_1)
          .tabs-item
            h2 Руководство по технологии монтажа
              a(href="#")
                +icon("down", "svg")
                span Скачать всю группу
            +file_list-2(file_data_1)
          .tabs-item
            h2 Рекомендации по эксплуатации СФТК
              a(href="#")
                +icon("down", "svg")
                span Скачать всю группу
            +file_list-2(file_data_1)
          .tabs-item
            h2 Технические характеристики линейки продукции СФТК
              a(href="#")
                +icon("down", "svg")
                span Скачать всю группу
            +file_list-2(file_data_1)

