extends ../layouts/default

block variables
  - const pageTitle = "Сертификаты";

block content
  .content-row
    mixin sidebar_menu
      a(href="#") Документация
      a(href="#").active Сертификаты
      a(href="#") Технические документы СФТК
      a(href="#") POS-материалы
      a(href="#") Документы по претензиям
      a(href="#") Справочная информация по логистике
    .sidebar
      .sidebar-menu
        +sidebar_menu
    .content.documentation
      +nav_back("Документация")
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
        .sidebar-dropdown
          .sidebar-dropdown_content
            +sidebar_menu
      mixin tabs_menu
        .tabs-menu_item.active Клеи
        .tabs-menu_item Затирки
        .tabs-menu_item Шпаклевки
        .tabs-menu_item Штукатурки
        .tabs-menu_item Смеси для пола
        .tabs-menu_item Гидроизолиция
        .tabs-menu_item Грунтовки
        .tabs-menu_item Кладочные смеси
      mixin documentation_files(title)
        .documentation-files
          h3.documentation-files_title=title
          .documentation-files_dropdown
            .documentation-files_content
              +file_list(file_data_1)
      mixin tabs_item(title, isActive = false)
        div(class="tabs-item" + (isActive ? " active" : ""))
          h2=title
            a(href="#")
              +icon("down", "svg")
              span Скачать всю группу
          +documentation_files("GM-15 Клей для ячеистого бетона")
          +documentation_files("GM-15z Клей для ячеистого бетона зимний")
          +documentation_files("GM-15 Клей для ячеистого бетона универсальный")
          +documentation_files("GM-15 Клей для ячеистого бетона")
      .tabs.content-mobile
        .tabs-menu
          +tabs_menu
        .tabs-menu_mobile
          .tabs-menu_title
          .tabs-menu_dropdown
            .tabs-menu_content
              +tabs_menu
        .tabs-list
          +tabs_item("Клеи", true)
          +tabs_item("Затирки")
          +tabs_item("Шпаклевки")
          +tabs_item("Штукатурки")
          +tabs_item("Смеси для пола")
          +tabs_item("Гидроизолиция")
          +tabs_item("Грунтовки")
          +tabs_item("Кладочные смеси")

