extends ../layouts/default

block variables
  - const pageTitle = "POS-материалы";

block content
  .content-row
    mixin sidebar_menu
      a(href="#") Документация
      a(href="#") Сертификаты
      a(href="#") Технические документы СФТК
      a(href="#").active POS-материалы
      a(href="#") Документы по претензиям
      a(href="#") Справочная информация по логистике
    .sidebar
      .sidebar-menu
        +sidebar_menu
    .content.documentation
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
        .sidebar-dropdown
          .sidebar-dropdown_content
            +sidebar_menu
      mixin tabs_menu
        .tabs-menu_item.active Каталоги–буклеты
        .tabs-menu_item Каталоги-плакаты
        .tabs-menu_item Наклейки
        .tabs-menu_item Плакаты
        .tabs-menu_item Шелфтолкеры
        .tabs-menu_item Буклеты
        .tabs-menu_item Любой тип POS-материала
      .tabs.content-mobile
        .tabs-menu
          +tabs_menu
        .tabs-menu_mobile
          .tabs-menu_title
          .tabs-menu_dropdown
            .tabs-menu_content
              +tabs_menu
        .tabs-list
          mixin tabs_item(title, isActive = false)
            div(class = "tabs-item" + (isActive ? " active" : ""))
              h2=title
                a(href="#")
                  +icon("down", "svg")
                  span Скачать все
              +file_list(file_data_2)
              include fs/showmore
          +tabs_item("Каталоги–буклеты", true)
          +tabs_item("Каталоги-плакаты")
          +tabs_item("Наклейки")
          +tabs_item("Плакаты")
          +tabs_item("Шелфтолкеры")
          +tabs_item("Буклеты")
          +tabs_item("Любой тип POS-материала")
          