extends ../layouts/default

block variables
  - const pageTitle = "Документация";

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="#").active Документация
        a(href="#") Сертификаты
        a(href="#") Технические документы СФТК
        a(href="#") POS-материалы
        a(href="#") Документы по претензиям
        a(href="#") Справочная информация по логистике
    .content.documentation
      +nav_back
      +breadcrumbs([pageTitle])
      h1.page-title= pageTitle
      h3 Разделы с документами, сертификатам и рекламными материалами
      .documentation-sections
        .documentation-section
          a(href = "#") Сертификаты
          p В разделе собраны разрешительные документы на продукцию "Геркулес": сертификаты, отказные письма, свидетельства
            br
            | о государственной регистрации, экспертные заключения.
          +link("#", "Перейти в раздел")
        .documentation-section
          a(href = "#") Техническая документация по СФТК «GERKULES FACADE»
          p В разделе собрана документацию на продукцию GERKULES для систем мокрых фасадов СФТК «GERKULES FACADE»: тех.свидетельство, альбомы технических решений, руководство по эксплуатации и др.
          +link("#", "Перейти в раздел")
        .documentation-section
          a(href = "#") Рекламные POS-материалы и каталог продукции «Геркулес» - 2018 г.
          p В разделе размещены рекламные материалы компании
            br
            | "Геркулес": каталоги, буклеты, плакаты, наклейки, шелфтокеры. Качество материалов подходит для печати.
          +link("#", "Перейти в раздел")
        .documentation-section
          a(href = "#") Документы по претензиям
          p В разделе собраны документы, необходимые для оформления претензии: порядок действий, требования к фотоотчетам и образцы претензия для физических ли и дистрибьюторов.
          +link("#", "Перейти в раздел")
        .documentation-section
          a(href = "#") Справочная информация по логистике
          p Информация об упаковке, формате хранения и т.д.
          +link("#", "Перейти в раздел")
