extends ../layouts/default

block variables
  - const pageTitle = "Справочная информация по логистике";

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="#") Документация
        a(href="#") Сертификаты
        a(href="#") Технические документы СФТК
        a(href="#") POS-материалы
        a(href="#") Документы по претензиям
        a(href="#").active Справочная информация по логистике
    .content.documentation
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
      .tabs-menu
        .tabs-menu_item.active Документы для скачивания
        .tabs-menu_item Тэг №1
        .tabs-menu_item Тэг №2
        .tabs-menu_item Тэг №3
        .tabs-menu_item Тэг №4
      .tabs-list
        .tabs-item.active
          h2 Документы для скачивания
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Сертификаты ГОСТ
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Свидетельство о государственной регистрации (СГР)
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Лицензии и сертификаты
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Санитарное заключение на грунтовку
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
        .tabs-item
          h2 Тэг №1
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Сертификаты ГОСТ
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Свидетельство о государственной регистрации (СГР)
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Лицензии и сертификаты
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Санитарное заключение на грунтовку
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
        .tabs-item
          h2 Тэг №2
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Сертификаты ГОСТ
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Свидетельство о государственной регистрации (СГР)
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Лицензии и сертификаты
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Санитарное заключение на грунтовку
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
        .tabs-item
          h2 Тэг №3
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Сертификаты ГОСТ
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Свидетельство о государственной регистрации (СГР)
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Лицензии и сертификаты
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Санитарное заключение на грунтовку
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
        .tabs-item
          h2 Тэг №4
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Сертификаты ГОСТ
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Свидетельство о государственной регистрации (СГР)
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Лицензии и сертификаты
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
            .card-files_item
              a(href="#" download)
                +icon("pdf", "svg")
                .card-files_info
                  h3 Санитарное заключение на грунтовку
                  p pdf, 15 mb
                    +icon("down-gray", "svg")
        