extends ../layouts/default

block variables
  - const pageTitle = "POS-материалы";

block content
  .content-row
    .sidebar
      .sidebar-menu
        a(href="#") Документация
        a(href="#") Сертификаты
        a(href="#") Технические документы СФТК
        a(href="#").active POS-материалы
        a(href="#") Документы по претензиям
        a(href="#") Справочная информация по логистике
    .content.documentation
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
      .tabs-menu
        .tabs-menu_item.active Каталоги–буклеты
        .tabs-menu_item Каталоги-плакаты
        .tabs-menu_item Наклейки
        .tabs-menu_item Плакаты
        .tabs-menu_item Шелфтолкеры
        .tabs-menu_item Буклеты
        .tabs-menu_item Любой тип POS-материала
      .tabs-list
        .tabs-item.active
          h2 Каталоги–буклеты
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Каталоги-плакаты
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Наклейки
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Плакаты
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Шелфтолкеры
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Буклеты
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
        .tabs-item
          h2 Любой тип POS-материала
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          .card-files_list
            - for (let i = 0; i < 4; i++)
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Сертификаты ГОСТ
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Свидетельство о государственной регистрации (СГР)
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Лицензии и сертификаты
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
              .card-files_item
                a(href="#" download)
                  +icon("pdf", "svg")
                  .card-files_info
                    h3 Санитарное заключение на грунтовку
                    p pdf, 15 mb
                      +icon("down-gray", "svg")
          include fs/showmore
