extends ../layouts/default

block variables
  - const pageTitle = "Справочная информация по логистике";

block content
  .content-row
    mixin sidebar_menu
      a(href="#") Документация
      a(href="#") Сертификаты
      a(href="#") Технические документы СФТК
      a(href="#") POS-материалы
      a(href="#") Документы по претензиям
      a(href="#").acitive Справочная информация по логистике
    .sidebar
      .sidebar-menu
        +sidebar_menu
    .content.documentation
      +breadcrumbs(["Документация", pageTitle])
      h1.page-title= pageTitle
        .sidebar-dropdown
          .sidebar-dropdown_content
            +sidebar_menu
      mixin tabs_menu
        .tabs-menu_item.active Документы для скачивания
        .tabs-menu_item Тэг №1
        .tabs-menu_item Тэг №2
        .tabs-menu_item Тэг №3
        .tabs-menu_item Тэг №4
      mixin tabs_item(title, isActive = false)
        div(class = "tabs-item" + (isActive ? " active" : ""))
          h2=title
            a(href="#")
              +icon("down", "svg")
              span Скачать все
          +file_list(file_data_1)
      .tabs.content-mobile
        .tabs-menu
          +tabs_menu
        .tabs-menu_mobile
          .tabs-menu_title
          .tabs-menu_dropdown
            .tabs-menu_content
              +tabs_menu
        .tabs-list
          +tabs_item("Документы для скачивания", true)
          +tabs_item("Тэг №1")
          +tabs_item("Тэг №2")
          +tabs_item("Тэг №3")
          +tabs_item("Тэг №4")
