extends ../layouts/default

block variables
  - const pageTitle = "Расчет количества материалов";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Расчет количества материалов"])
      h1.page-title Расчет количества материалов
      .fs-calculation_row
        h3 Экспресс–расчет
        .fs-calculation_col
          form(action="#")
            .field-row
              +field_select("category", [[0, "Клеи"], [1, "Гидроизоляция"], [2, "Гидроизоляция затирка"]], "", "category")
                label(for="category").select
                  .field-inf
                    span.name Категория
                    span.errorText пожалуйста, заполните поле корректно
              +field_select("product", [[0, "Клей АКВА-СТОП"], [1, "Клей для ЯЧЕИСТОГО БЕТОНА"], [2, "Клей для МОЗАИКИ"]], "", "product")
                label(for="product").select
                  .field-inf
                    span.name Продукт
                    span.errorText пожалуйста, заполните поле корректно
            .field-row
              +field_base("personPhone", "personPhone", "Номер телефона*", "+7 (___) ___-__-__")
              +field_base("personEmail", "personEmail", "Email", "ksh@loudmill.ru")
          p 100 кг
      - let getCalc_title = "Калькулятор для точного расчета проекта"
      - let getCalc_subtitle = "Если вы хотите расчитать количетсво матеарилов для проекта, то оставьте свои контактные данные"
      include fs/getCalc
      - var questionTitle = 'Запросить индивидуальный расчете материалов'
      - let questionAreaTitle = 'Комментарий'
      - let questionAreaPlaceholder = 'Хочу рассчитать себе проект'
      include fs/question
      include fs/contacts
        