extends ../layouts/default

block variables
  - const pageTitle = "Продукция СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Продукция СФТК‎"])
      h1.page-title Продукция СФТК
      .fs-production_top
        .fs-production_top-row
          p В декабре 2017 года МИНИСТЕРСТВО СТРОИТЕЛЬСТВА РОССИИ выдало компании «Геркулес-Сибирь» Техническое Свидетельство №5387-17 о пригодности применения в строительстве СФТК «GERKULES FAСADE»
          +linkRect
            a(href="#")
            +icon("expand-white", "svg")
            span Калькулятор для ремонта
        .fs-production_stand
          .fs-production_stand-item
            img(src="../images/schema-1.png", alt="")
          .fs-production_stand-item
            img(src="../images/schema-2.png", alt="")
        
