extends ../layouts/default

block variables
  - const pageTitle = "Фасадные системы";

block content
  .content-row
    include fs/sidebar
    .content.facadeSystem
      +breadcrumbs(["Фасадные системы‎"])
      h1.page-title Фасадные системы
      h2 Материалы СФТК
      .fs-info_row
        .fs-info_col
          p
            | СФТК — современная штукатурная отделка частных, многоэтажных и
            br
            | промышленных зданий с дополнительным утеплением ограждающей конструкции стен. В качестве финишного слоя СФТК обычно применяется декоративная штукатурка (шубка или короед) на минеральной или полимерной основе.
        .fs-info_col
          p
            | Существуют вариации СФТК с гладкозатертым штукатурным слоем (шпаклевка и покраска) а так же плиточной или каменной облицовкой.
      //- !!!
      h2 Комплектующие СФТК
      .fs-info_row
        .fs-info_col
          .fs-gallery
            .fs-gallery_photo
              img(src="../images/CFTK-1.png" alt="")
            .fs-gallery_photo
              img(src="../images/CFTK-2.png" alt="")
            .fs-gallery_photo
              img(src="../images/CFTK-3.png" alt="")
        .fs-info_col
          .redRect
          p
            | Впервые в России существует техническое решение, совмещающее энергоэффективность, надежность, долговечность и привлекательный внешний вид кирпичной кладки.
          +link("#", "Подробнее")
      //- !!!
      h2 Описание системы СФТК
      .fs-info_list
        img(src="../images/systemCFTK.jpg" alt="")
        ul
          li Виды и состав
          li Область применения
          li Декоративные возможности
          li Преимущества
        +link("#", "Подробнее")
      h2 Услуги и сервис
      .fs-info_menu
        .fs-info_menu-line
          a(href="#") Шеф-монтаж
          a(href="#") Обучение в «Академии Геркулес»
        .fs-info_menu-line
          a(href="#") Механизированное нанесение клеевой армирующей смеси
          a(href="#") Тестовое нанесение
        .fs-info_menu-line
          a(href="#") Расчет количества материалов
      include ./fs/guarantee.pug
      h2 Справочная информация
      .fs-info_row2
        .fs-info_list
          ul
            li Этапы монтажа
            li Документация
            li Статьи
            li Видео
          +link("#", "Подробнее")
        .fs-gallery
          .fs-gallery_photo
            img(src="../images/CFTK-4.png" alt="")
          .fs-gallery_photo
            img(src="../images/CFTK-5.png" alt="")
          .fs-gallery_photo
            img(src="../images/CFTK-6.png" alt="")
      include fs/objects

      - var questionTitle = 'Задать вопрос о СФТК'
      include fs/question
      include fs/contacts
