extends ../layouts/default

block variables
  - const pageTitle = "Области применения СФТК";

mixin slider_range(num)
  .fs-bigSlider
    .fs-discription
      block
    +sliderControls
      button.fs-bigSlider_prev
      button.fs-bigSlider_next
    .fs-bigSlider_num 0#{num}
    .swiper-container.fs-bigSlider_main
      .swiper-wrapper
        each slide in [0,1,2]
          .swiper-slide
            -var _slide = (slide+num)%4 + (slide+num > 3 ? 1:0)
            img(src=`images/big-slide-${_slide}.jpg`, alt="")
    .swiper-container.fs-bigSlider_preview
      .swiper-wrapper
        each slide in [0,1,2]
          .swiper-slide
            -var _slide = (slide+num)%4 + (slide+num > 3 ? 1:0)
            img(src=`images/big-slide-${_slide}.jpg`, alt="")
block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Области применения СФТК"])
      h1.page-title Области применения СФТК
      +slider_range(1)
        h3 Строительство новых жилых и общественных зданий
        .fs-discription_box
          p Современные строительные нормы предъявляют высокие требования к тепловой защите зданий. Применение «мокрых» фасадов позволяет соблюсти требования к теплозащите зданий и сократить строительные издержки. Благодаря уменьшению толщины стен, снижается расход материалов и увеличивается полезная площадь помещения. 
          p Кроме того, «мокрые» фасады способствуют энергосбережению и защите окружающей среды в процессе эксплуатации здания. Затраты на отопление и кондиционирование снижаются на 30-40%. Также продукция GERKULES FACADE  может  применяться не только для отделки фасадов, но и для отделки мест общего пользования, балконов и лоджий.
      +slider_range(2)
        h3 Коттеджное и малоэтажное строительство
        .fs-discription_box
          p Применение СФТК для коттеджного и малоэтажного строительства создаёт благоприятные условия для жизни – тепло зимой, комфортно летом. Низкая звукопроницаемость стен. Экономия энергии на отоплении и кондиционировании позволяет окупить затраты на СФТК всего за 2 года!
          p Разнообразные дизайнерские решения позволяют создать не только комфортное, но и красивое жильё – разнообразные цветовые решения, фактуры, декоративные элементы.
      +slider_range(3)
        h3 Реконструкция и капитальный ремонт муниципальных, общественных и жилых зданий
        .fs-discription_box
          p Мокрые фасады решают массу проблем у старых зданий. Капитальный ремонт с применение СФТК улучшает теплозащитные свойства, исключает проблему растрескивания штукатурки, продлевая жизнь фасада. Как следствие, такой ремонт увеличивает стоимость вторичного жилья.
          p Возможности СФТК также позволяют проводить реставрацию исторических зданий с восстановлением декоративных элементов (колонны, карнизы, пилястры и т.д.).


      include fs/contacts
