extends ../layouts/default

block variables
  - const pageTitle = "Техническая документация СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Техническая документация СФТК"])
      h1.page-title Техническая документация СФТК
      .tabs-menu
        .tabs-menu_item.active Альбом технических решений
        .tabs-menu_item Руководство по технологии монтажа
        .tabs-menu_item Рекомендации по эксплуатации СФТК
        .tabs-menu_item Технические характеристики линейки продукции СФТК
      .tabs-list
        .tabs-item.active
          h2 Альбом технических решений
        .tabs-item
          h2 Руководство по технологии монтажа
        .tabs-item
          h2 Рекомендации по эксплуатации СФТК
        .tabs-item
          h2 Технические характеристики линейки продукции СФТК
      include fs/showmore
      include fs/contacts
