extends ../layouts/default

block variables
  - const pageTitle = "Этапы монтажа";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Этапы монтажа"])
      h1.page-title Этапы монтажа
      .fs-steps_top
        h3 Одним из важных факторов успешного монтажа СФТК является точное выполнение всех технологических норм и регламентов:
        .fs-steps_top-items
          p Последовательность и содержание
            br
            | технологической операции
          p Используемые материалы 
            br
            | и инструменты
          p Технологические перерывы
            br
            | и температурные режимы
      .fs-steps_middle
        h2 Этапы производственных работ
        .fs-steps_middle-row
          .fs-steps_middle-slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-1.jpg", alt="")
                    p Проведение геодезической съемки для определения отклонений плоскости фасада
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-2.jpg", alt="")
                    p Приготовление базового штукатурного слоя (армирующего состава)
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-3.jpg", alt="")
                    p Нанесение армирующего состава на утеплитель с установкой армирующей сетки
              .fs-steps_control
                button.fs-steps_control-prev
                button.fs-steps_control-next
          ol
            li Установка строительных лесов (монтаж люлек, подъемников)
              span 01
            li Монтаж закладных деталей для крепления водосточной
              br
              | системы, кондиционеров, рекламы (при необходимости)
              span 02
            li Проведение геодезической съемки для определения
              br
              | отклонений плоскости фасада
              span 03
            li Подготовка строительного основания (очистка, заделка
              br
              | мелких трещин, выравнивание плоскости фасада в местах
              br
              | наибольших отклонений, грунтование)
              span 04
            li Монтаж цокольной планки для опирания первого ряда утеплителя
              span 05
        .fs-steps_middle-row
          .fs-steps_middle-slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-2.jpg", alt="")
                    p Приготовление базового штукатурного слоя (армирующего состава)
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-1.jpg", alt="")
                    p Проведение геодезической съемки для определения отклонений плоскости фасада
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-3.jpg", alt="")
                    p Нанесение армирующего состава на утеплитель с установкой армирующей сетки
              .fs-steps_control
                button.fs-steps_control-prev
                button.fs-steps_control-next
          ol
            li Приготовление клеевого раствора для монтажа утеплителя
              span 06
            li Нанесение клея на утеплитель
              span 07
            li Монтаж плит утеплителя к основанию (с устройством
              br
              | противопожарных отсечек при применении в качестве
              br
              | теплоизоляционного материала плит пенополистирола)
              span 08
            li Механическое крепление утеплителя тарельчатыми дюбелями
              span 09
            li Приготовление базового штукатурного слоя (армирующего состава)
              span 10
            li Монтаж усиливающих элементов и примыканий (углы, капельники, примыкания к проемам, устройство деформационных швов)
              span 11
        .fs-steps_middle-row
          .fs-steps_middle-slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-3.jpg", alt="")
                    p Нанесение армирующего состава на утеплитель с установкой армирующей сетки
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-1.jpg", alt="")
                    p Проведение геодезической съемки для определения отклонений плоскости фасада
                .swiper-slide
                  .fs-steps_slide
                    .fs-steps_slide-photo
                      img(src="../images/fs-steps-2.jpg", alt="")
                    p Приготовление базового штукатурного слоя (армирующего состава)
              .fs-steps_control
                button.fs-steps_control-prev
                button.fs-steps_control-next
          ol
            li Нанесение армирующего состава на утеплитель с установкой
              br
              | армирующей сетки
              span 12
            li Грунтование под декоративную штукатурку (при необходимости)
              span 13
            li Нанесение декоративной штукатурки
              span 14
            li Монтаж элементов декора (при необходимости)
              span 15
            li Окрашивание поверхности фасадной краской
              span 16
            li Разборка строительных лесов
              span 17
      include fs/contacts
