extends ../layouts/default

block variables
  - const pageTitle = "Описание системы СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content
      +breadcrumbs(['Фасадные системы',"Описание системы СФТК"])
      h1.page-title Описание системы СФТК