extends ../layouts/default

block variables
  - const pageTitle = "Продукция СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Продукция СФТК‎"])
      h1.page-title Продукция СФТК
      .fs-production_top
        p В декабре 2017 года МИНИСТЕРСТВО СТРОИТЕЛЬСТВА РОССИИ выдало компании «Геркулес-Сибирь» Техническое Свидетельство №5387-17 о пригодности применения в строительстве СФТК «GERKULES FAСADE»
        +linkRect
          a(href="#")
          +icon("expand-white", "svg")
          span Калькулятор для ремонта
      .fs-production_stand
        img(src="../images/schema-1.png", alt="")
        img(src="../images/schema-2.png", alt="")
      .fs-production_grid
        h2 Комплектующие для установки СФТК
        .fs-production_grid-items
          .fs-production_grid-item
            img(src="../images/detail-1.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="../images/detail-2.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="../images/detail-3.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            .fs-production_grid-photo.detail-4
              img(src="../images/detail-4.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="../images/detail-5.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            .fs-production_grid-photo.detail-6
              img(src="../images/detail-6.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
      .fs-production_getCalc
        h2 Мы разработали для вас самый удобный калькулятор для расчет расхода СФТК
        p Заполните поля и получите доступ к калькулятору
        include fs/getCalc
      include fs/objects
      include fs/contacts
        
