extends ../layouts/default

block variables
  - const pageTitle = "Фасадные системы";

block content
  .content-row
    include fs/sidebar
    .content
      +breadcrumbs(["Фасадные системы‎"])
      .facadeSystem
        h1.page-title Фасадные системы
        include fs/objects
        include fs/contacts
