extends ../layouts/default

block variables
  - const pageTitle = "Продукция СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Продукция СФТК‎"])
      h1.page-title Продукция СФТК
      .fs-production_top
        p В декабре 2017 года МИНИСТЕРСТВО СТРОИТЕЛЬСТВА РОССИИ выдало компании «Геркулес-Сибирь» Техническое Свидетельство №5387-17 о пригодности применения в строительстве СФТК «GERKULES FAСADE»
        +linkRect
          a(href="#")
          +icon("expand-white", "svg")
          span Калькулятор для ремонта
      .fs-production_stand
        img(src="./images/schema-1.png", alt="")
        img(src="./images/schema-2.png", alt="")
      .fs-production_showcase
        h2 Линейка продукции СФТК
        .tabs
          .tabs-menu
            .tabs-menu_item.active Грунтовки
            .tabs-menu_item Шпаклевки
            .tabs-menu_item Затирки
          .tabs-list
            .tabs-item.active
              +sliderVerticalControls
                button.fs-production_showcase-next
                button.fs-production_showcase-prev
              .swiper-container
                .swiper-wrapper
                  each item,key in ['GE-29 Грунтовка укрепляющая глубокого проникновения, 5, 10 кг','GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг','GE-109 Грунтовка БЕТОН-КОНТАКТ Геркулес, 5, 14 и 21 кг']
                    .swiper-slide
                      .fs-productCard
                        .fs-productCard_info
                          .fs-productCard_status
                            span хит продаж
                            span.active акция
                            span новинка
                          .fs-productCard_photo
                            img(src=`../images/product-${key+1}.png`, alt="")
                          a(href="#").fs-productCard_title #{item}
                        .fs-productCard_buttons
                          a(href="#").fs-productCard_buttons-loc
                            +icon("map-pin", "svg")
                          a(href="#").fs-productCard_buttons-rate
                            +icon("rating-red", "svg")
            .tabs-item
            .tabs-item
      .fs-production_grid
        h2 Комплектующие для установки СФТК
        .fs-production_grid-items
          .fs-production_grid-item
            img(src="./images/detail-1.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="./images/detail-2.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="./images/detail-3.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            .fs-production_grid-photo.detail-4
              img(src="./images/detail-4.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            img(src="./images/detail-5.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
          .fs-production_grid-item
            .fs-production_grid-photo.detail-6
              img(src="./images/detail-6.png", alt="")
            h3 Плиты утеплителя
            p Возможно, будет какое-то описание для комплектующего
      - let getCalc_title = "Мы разработали для вас самый удобный<br>калькулятор для расчет расхода СФТК"
      - let getCalc_subtitle = "Заполните поля и получите доступ к калькулятору"
      include fs/getCalc
      include fs/objects
      include fs/contacts
        