extends ../layouts/default

block variables
  - const pageTitle = "Техническая документация СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Техническая документация СФТК"])
      h1.page-title Техническая документация СФТК