extends ../layouts/default

block variables
  - const pageTitle = "Механизированное нанесение КАС";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Механизированное нанесение КАС"])
      h1.page-title Механизированное нанесение КАС
      h2 Приемущества использования КАС
      .fs-discription
        ul.fs-discription_box
          li Высокая покрывная способность и создание тонкого слоя рабочего раствора, благодаря эластичности армировочно клеевой смеси. Достигается за счет присутствия в составе составляющих полимерной композиции.
          li Получение прочного защитного слоя, за счет присутствия армирующих микроволокон. Готовая смесь помогает укрепить основание и создать дополнительную защиту от действия различных внешних факторов.
          li Хорошая адгезия с каменной, бетонной, кирпичной и цементно-известковой поверхностям.
          li Морозостойкий. Смесь выдерживать многочисленные циклы замерзания без утраты своих заявленных свойств.
          li Паропроницаемость. Полученный армирующий слой обладает паропропускной способностью, он не накапливает конденсата и обеспечивает своевременный вывод лишней влаги наружу.
          li Экологическая безопасность. Армирующая клеевая смесь изготовлена из органических безопасных веществ. В его составе цементный вяжущий компонент с полимерными добавками.
      .fs-compareTable
        h2 Сравнительная таблица
        table
          thead
            tr
              th № ПП
              th Наименование операции
              th Ед. измерения
              th Ручное смешивание с применением миксерной насадки на дрель. Ручное нанесение
              th Машинное смешивание с приминением электромиксера с загрузкой до 100 кг Нанесение торкретированием
              th Машинное смешивание с приминением электромиксера с загрузкой до 250 кг Нанесение торкретированием
          tbody
            tr
              th 1
              th Нанесение клеевого состава на плиты утеплителя, приклеивание плит
              th мин./м
              th 25
              th 13
              th 10
            tr
              th 2
              th Армирование поверхности плит утеплителя сеткой
              th мин./м
              th 28
              th 12
              th 10
            tr
              th 3
              th Нанесение декоративного отделочного слоя
              th мин./м
              th 15
              th 8.5
              th 7
      .fs-production_showcase
        h2.mar-bot Оборудование для использования
        .fs-objects_control
          button.fs-objects_next
          button.fs-objects_prev
        .swiper-container
          .swiper-wrapper
            each item,key in ['Штукатурная станция m-tec M280','Штукатурная станция PFT G4 Smart','Штукатурная станция m-tec M280']
              .swiper-slide
                .fs-productCard
                  .fs-productCard_info
                    .fs-productCard_status
                      span хит продаж
                      span.active акция
                      span новинка
                    .fs-productCard_photo
                      img(src=`../images/product-for-use-${key+1}.png`, alt="")
                    a(href="#").fs-productCard_title #{item}
                  .fs-productCard_buttons
                    a(href="#").fs-productCard_buttons-add
                      +icon("plus-circle", "svg")
                      |Добавить в заказ
      .fs-mech_videos
        h2 Инструкции по нанесению клеевой армирующей смеси
        .fs-list
          each item in [1,2,3,4,1,2]
            .fs-list_item
              a.fs-list_item-video(href="")
                img(src=`./images/video-preview-${item}.jpg`, alt="")
                .play
              a.fs-list_item-name(href="") Как приминять клеевую армирующую смесь Геркулес GM-185          
      - var questionTitle = "Задать вопрос об услуге шеф-монтаж"
      include fs/question
      include fs/contacts
