extends ../layouts/default

block variables
  - const pageTitle = "Преимущества СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Преимущества СФТК"])
      h1.page-title Преимущества СФТК
      h2 Надежность
      .fs-advantages_list
        ol
          li СФТК «GERKULES FACADE» - безопасная
            br
            | и долговечная. Система прошла все климатические
            br
            | и огневые испытания в лабораториях немецкой компании WACKER, получены Заключения
            br
            | о ее соответствии всем критериям безопасности
            br
            | и как результат имеет Техническое свидетельство Министерства Строительства РФ № 5387-17.
          li Высокое качество материалов Системы обеспечивается участием наших немецких партнеров в разработке рецептуры продуктов с применением локального сырья и добавлением высококачественных зарубежных полимерных добавок.
          li Развитая сеть Дистрибьюторов в регионах и квалифицированная работа Отдела логистики обеспечивает своевременную и бережную доставку материалов в надежной современной упаковке.
          li Возможность Заказчика комплектоваться в одном месте все компоненты Системы у наших Дистрибьюторов по лучшей цене с предоставлением всех сертификатов и паспортов на материалы.
          li Продукт от лидера сибирского рынка строительных смесей.
      .fs-advantages_description-1
        h2 Технологичность
        .fs-discription
          ul.fs-discription_box
            li Уникальная производственная площадка Завода «Геркулес - Сибирь» оснащена новыми высокопроизводительными линиями
            li На предприятии ведется постоянный контроль качества производимой продукции в собственной Технологической Лаборатории
            li На предприятии ведется постоянный контроль качества производимой продукции в собственной Технологической Лаборатории
            li Простота в исполнении, минимальные ресурсоемкость и трудоемкость
            li Обучение персонала монтажной организации основным технологическим операциям по монтажу СФТК «GERKULES FACADE». Бесплатное тестовое нанесение на объектах
            li Техническая поддержка Заказчика от стадии проектирования до сдачи объекта, помощь в точном расчете материалов на объект, предоставление услуги шеф монтажа, гарантийного сервиса
      h2 Честная цена
      .fs-advantages_list
        ol
          li Большая часть элементов системы
            br 
            | производятся компанией «Геркулес-Сибирь» самостоятельно либо под тщательным технологическим контролем
          li Лучшая объектная цена за качественный продукт
            br
            | по СФО достигается за счет взаимодействия с производителями смежных материалов Системы
          li Возможность применять различные варианты комплектующих
          li Возможность применения механизированного нанесения продуктов Системы
      .fs-advantages_description-2
        .fs-discription
          ul.fs-discription_box
            li Энергосбережение - снижение затрат на отопление и кондиционирование (до 30-40%) в процессе эксплуатации здания
            li Комфортная жизнь - тепло зимой, комфортно летом. Низкая звукопроницаемость стен
            li Уникальные декоративные возможности - применение декоративной штукатурки, фасадных красок и различных декоративных элементов позволяют реализовать любые дизайнерские решения для создания современного и привлекательного вида здания
            li Низкая материалоемкость - снижение затрат при новом строительстве за счет уменьшения толщины стен и соответственно снижение расходов материалов
            li Увеличение выхода полезных площадей помещений
            li Защита окружающей среды - теплый фасад позволяет снизить потребление энергии и тем самым уменьшение выбросов углекислого газа в атмосферу
            li Гарантия долговечности - срок службы СФТК составляет десятки лет
            li Обеспечивается защита несущих конструкций от агрессивной окружающей среды, атмосферных осадков и перепадов температур
            li Эффективность завтра - увеличение стоимости вторичного жилья после проведения капитального ремонта и реконструкции с применением данных технологий
      h2 Статьи, которые могут быть вам полезны
      .fs-list
        each item in [1,2,1,2]
          if(item % 2 == 1)
            .fs-list_item
              a.fs-list_item-img(href="")
                img(src=`./images/article-preview-${item}.jpg`, alt="")
              .fs-list_item-date 22 октября 2019
              a.fs-list_item-name(href="") Новая формула GE-29: глубже, равномернее, крепче!
              .fs-list_item-text С 20 марта 2018 мы начали выпуск нового продукта: «Грунтовка укрепляющая глубокого проникновения GE-29». Мы улучшили формулу и обновили упаковку!
              .fs-list_item-tags
                +hashTags([["жизнькомпании", "#"],["новости", "#"]])
          else
            .fs-list_item
              a.fs-list_item-img(href="")
                img(src=`./images/article-preview-${item}.jpg`, alt="")
              .fs-list_item-date 22 октября 2019
              a.fs-list_item-name(href="") Новинка! Грунтовка GE-39K для структурных штукатурок и фасадов
              .fs-list_item-text С 20 марта 2018 мы начали выпуск нового продукта: «Грунтовка укрепляющая глубокого проникновения GE-29». Мы улучшили формулу и обновили упаковку!
              .fs-list_item-tags
                +hashTags([["жизнькомпании", "#"],["новости", "#"]])
