extends ../layouts/clean

block variables
    - pageTitle = "Партнерам";

block content
    .b-content

        .b-content__wrapper

            aside.b-content__side-bar
                nav.side-nav
                    ul.side-nav__list
                        li.side-nav__item.side-nav__item--active
                            a(href="").side-nav__item-link Партнерам
                        li.side-nav__item
                            a(href="").side-nav__item-link Программа лояльности
                        li.side-nav__item
                            a(href="").side-nav__item-link Академия «Геркулес»

            main.b-content__main.b-content__main--overflow--hidden.for-partners
                .b-breadcrumbs
                    .b-breadcrumbs__item
                        a(href="").b-breadcrumbs__link Главная
                    .b-breadcrumbs__item
                        a(href="").b-breadcrumbs__link Партнерам 

                h1.for-partners__page-title Партнерам

                section.for-partners__features
                    .for-partners__features-header
                        h2.for-partners__section-title
                            | Открой собственный магазин 
                            br
                            | и закупить продукцией «Геркулес»
                        .number-card.for-partners__features-number-card
                            h3.number-card__title Клиентский сервис
                            a(href="").number-card__number +7 913 001-75-01
                    ul.for-partners__features-list
                        li.for-partners__features-item Более 220 магазинов уже реализовывают нашу продукцию
                        li.for-partners__features-item Самые качетсвенные сыпущие смеси в мире
                        li.for-partners__features-item Помощь производителя напрямую

                section.for-partners__become
                    h2.for-partners__section-title
                        | Стать партнером

                    form(action="").b-form.for-partners__become-form
                        .b-form__row.b-form__row--ai--stretch
                            label.b-form__item.b-form__item--w--50p
                                .b-form__item-title.b-form__item-title--mb--17 Имя*

                                .b-form__item-input
                                    input.text-input(type="text", name="name", placeholder="Алексей", required)

                            label.b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                .b-form__item-title.b-form__item-title--mb--17 E-mail*

                                .b-form__item-input
                                    input.text-input(type="text", name="email", placeholder="ksh@clodumill.ru", required)

                        .b-form__row.b-form__row--ai--stretch.b-form__row--mt--40
                            label.b-form__item.b-form__item--w--50p
                                .b-form__item-title.b-form__item-title--mb--17 Город*

                                .b-form__item-input
                                    input.text-input(type="text", name="city", placeholder="Город", required)

                            .b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                .b-form__item-title.b-form__item-title--mb--17
                                    br

                                .b-form__item-input
                                    label.checkbox-input
                                        input.checkbox-input__input(type="checkbox", name="agreement", required)
                                        p.checkbox-input__text
                                            | «Я выражаю согласие на обработку ПДн в соответствии
                                            br
                                            | с 
                                            a(href="#").checkbox-input__link
                                                | Политикой конфиденциальности
                                            | »

                        .b-form__row.b-form__row--ai--stretch.b-form__row--mt--20
                            .b-form__item.b-form__item--w--50p

                            .b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                .b-form__item-input.b-form__item-input--max-w--340
                                    +btn-p-gram("Стать партнером")

                section.for-partners__offers

                    .for-partners__offers-list

                        a(href).offer-card.for-partners__offers-item
                            h6.offer-card__title Академия «‎Геркулес»‎
                            p.offer-card__text.offer-card__text--max-w--280
                                | Для нас важно, чтобы наша продукция использовала весь свой потенциал 
                                br
                                | и возможности. Именно для этого, 
                                br
                                | мы организовали академию «‎Геркулес»‎, где обучаем работе 
                                br
                                | с нашими продуктами.
                            .offer-card__bottom
                                .arrow-link
                                    .arrow-link__text Присоединиться
                                    .arrow-link__icon.arrow-link__icon--ml--15
                                        +icon("arrow", "svg")

                        a(href).offer-card.offer-card--gray.for-partners__offers-item
                            h6.offer-card__title Академия «‎Геркулес»‎
                            p.offer-card__text.offer-card__text--max-w--280
                                | Для нас важно, чтобы наша продукция использовала весь свой потенциал 
                                br
                                | и возможности. Именно для этого, 
                                br
                                | мы организовали академию «‎Геркулес»‎, где обучаем работе 
                                br
                                | с нашими продуктами.
                            .offer-card__bottom
                                .arrow-link
                                    .arrow-link__text Присоединиться
                                    .arrow-link__icon.arrow-link__icon--ml--15
                                        +icon("arrow", "svg")

                section.for-partners__map.for-partners__bg.for-partners__bg--gray.for-partners__bg--full
                    
                    h2.for-partners__section-title
                        |Присоединяйтесь к нам
                    
                    .for-partners__map-wrapper.for-partners__map-wrapper--mr--m40
                        
                        ul.for-partners__map-panel.for-partners__map-panel--max-width--1151

                            li.for-partners__map-panel-item
                                .for-partners__map-panel-image
                                    +icon("map-panel-mark-white", "png")
                                .for-partners__map-panel-text.for-partners__map-panel-text--ml--14
                                    |Регион неактивен
                            li.for-partners__map-panel-item
                                .for-partners__map-panel-image
                                    +icon("map-panel-mark-red", "png")
                                .for-partners__map-panel-text.for-partners__map-panel-text--ml--14
                                    |Есть представитель
                            li.for-partners__map-panel-item
                                .for-partners__map-panel-image
                                    +icon("map-panel-mark-green", "png")
                                .for-partners__map-panel-text.for-partners__map-panel-text--ml--14
                                    |Приглашаем к сотрудничеству
                            li.for-partners__map-panel-item
                                .for-partners__map-panel-image.for-partners__map-panel-image--box-shadow
                                    +icon("map-pin-with-g", "png")
                                .for-partners__map-panel-text.for-partners__map-panel-text--ml--14
                                    |Главный офис
                                
                        .for-partners__map-map.for-partners__map-map--max-width.for-partners__map-map--mt
                            
                            .for-partners__map-image.for-partners__map-image--min-width
                                
                                img.for-partners__map-img(src="../images/map-1.png")

                                .for-partners__map-pin
                                    +icon("map-pin-with-g", "png")

                    .for-partners__map-msg
                        |Пока что в этом регионе нет наших дистрибьютеров, но вы можете ими стать.                    

                section.for-partners__request.for-partners__bg.for-partners__bg--gray.for-partners__bg--full

                    h3.for-partners__section-title.for-partners__section-title--small
                        |Заполните заявку дистрибьютера

                    form(action="").b-form.for-partners__request-form
                        .b-form__row.b-form__row--ai--stretch
                            label.b-form__item.b-form__item--w--50p
                                .b-form__item-title.b-form__item-title--mb--17 Имя

                                .b-form__item-input
                                    input.text-input(type="text", name="name", placeholder="Алексей", required)

                            label.b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                .b-form__item-title.b-form__item-title--mb--17 Фамилия

                                .b-form__item-input
                                    input.text-input(type="text", name="surname", placeholder="Биланин", required)

                        .b-form__row.b-form__row--ai--stretch.b-form__row--mt--30
                            label.b-form__item.b-form__item--w--50p
                                .b-form__item-title.b-form__item-title--mb--17 Номер телефона*

                                .b-form__item-input
                                    input.text-input(type="text", name="phone", placeholder="+7 (___) ___-__-__", required)

                            label.b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                .b-form__item-title.b-form__item-title--mb--17 Email

                                .b-form__item-input
                                    input.text-input(type="text", name="email", placeholder="ksh@loudmill.ru", required)

                        .b-form__row.b-form__row--ai--stretch.b-form__row--mt--30
                           
                            .b-form__item.b-form__item--w--50p.b-form__item--ai--center
                                .b-form__item-input
                                    label.checkbox-input
                                        input.checkbox-input__input(type="checkbox", name="agreement", required)
                                        p.checkbox-input__text
                                            | «Я выражаю согласие на обработку ПДн в соответствии с 
                                            a(href="#").checkbox-input__link
                                                | Политикой конфиденциальности
                                            | »

                            .b-form__item.b-form__item--w--50p.b-form__item--ml--40.b-form__item--jc--end
                                .b-form__item-input.b-form__item-input--max-w--390
                                    +btn-p-gram("Стать дистрибьютером")

                section.for-partners__contacts.for-partners__bg.for-partners__bg--gray.for-partners__bg--partial

                    h3.for-partners__section-title.for-partners__section-title--small
                        |Свяжитесь с нами

                    .fs-contacts
                        .fs-contacts_list
                            .fs-contacts_item
                                .fs-contacts_photo
                                    img(src="./images/photo-contact1-344x390.png", alt="")
                                h3 Бернгард Андрей Сергеевич
                                p Региональный представитель по Новосибирской области
                                .fs-contacts_phone
                                    +icon("phone", "svg")
                                    a(href="tel:8 383 338 31 32") +7 (383) 338-31-32 вн. 119
                                .fs-contacts_phone
                                    a(href="tel:8 913 789 01 14") +7 (913) 789-01-14
                                .fs-contacts_email
                                    +icon("mail", "svg")
                                    a(href="berngard.as@gerkules.ru") berngard.as@gerkules.ru
                            .fs-contacts_item
                                .fs-contacts_photo
                                    img(src="./images/contact-1.jpg", alt="")
                                h3 Щербаченко Павел Владимирович
                                p Региональный представитель по Томской области
                                .fs-contacts_phone
                                    +icon("phone", "svg")
                                    a(href="tel:8 913 865 32 63") +7 (913) 865-32-63
                                .fs-contacts_email
                                    +icon("mail", "svg")
                                    a(href="sherbachenko.pv@gerkules.ru") sherbachenko.pv@gerkules.ru
                            .fs-contacts_item
                                .fs-contacts_photo
                                    img(src="./images/photo-contact1-344x390.png", alt="")
                                h3 Бернгард Андрей Сергеевич
                                p Региональный представитель по Новосибирской области
                                .fs-contacts_phone
                                    +icon("phone", "svg")
                                    a(href="tel:8 383 338 31 32") +7 (383) 338-31-32 вн. 119
                                .fs-contacts_phone
                                    a(href="tel:8 913 789 01 14") +7 (913) 789-01-14
                                .fs-contacts_email
                                    +icon("mail", "svg")
                                    a(href="berngard.as@gerkules.ru") berngard.as@gerkules.ru

                    
