extends ../layouts/clean

block variables
  - pageTitle = "Партнерам";

block content
  .b-content
    .b-content__wrapper
      aside.b-content__side-bar
        nav.side-nav
          ul.side-nav__list
            li.side-nav__item.side-nav__item--active
              a(href="").side-nav__item-link Партнерам
            li.side-nav__item
              a(href="").side-nav__item-link Программа лояльности
            li.side-nav__item
              a(href="").side-nav__item-link Академия «Геркулес»
      main.b-content__main.for-partners
        .b-breadcrumbs
          .b-breadcrumbs__item
            a(href="").b-breadcrumbs__link Главная
          .b-breadcrumbs__item
            a(href="").b-breadcrumbs__link Партнерам

        
      



