extends ../layouts/default

block variables
  - const pageTitle = "Фасадные системы";

block content
  .page-row
    .page-col
      .sidemenu
        .sidemenu-item.active
          .sidemenu-title
            a(href="#") Фасадные системы
        .sidemenu-item
          .sidemenu-title
            a(href="#") Продукция СФТК
        .sidemenu-item.sidemenu-list
          .sidemenu-title
            span Описание системы
          .sidemenu-dropdown
            .sidemenu-subitem
              a(href="#") Описание системы СФТК
            .sidemenu-subitem
              a(href="#") Декоративные возможности
            .sidemenu-subitem
              a(href="#") Области применения СФТК
            .sidemenu-subitem
              a(href="#") Приемущества СФТК
        .sidemenu-item.sidemenu-list
          .sidemenu-title
            span Услуги и сервис
          .sidemenu-dropdown
            .sidemenu-subitem
              a(href="#") Механизированное нанесение КАС
            .sidemenu-subitem
              a(href="#") Услуга шеф-монтажа
            .sidemenu-subitem
              a(href="#") Тестовое нанесение
            .sidemenu-subitem
              a(href="#") Обучение в академии «Геркулес»
            .sidemenu-subitem
              a(href="#") Персональный расчет количества материалов
        .sidemenu-item.sidemenu-list
          .sidemenu-title
            span Справочная информация
          .sidemenu-dropdown
            .sidemenu-subitem
              a(href="#") Этапы монтажа
            .sidemenu-subitem
              a(href="#") Техническая документация СФТК
            .sidemenu-subitem
              a(href="#") Статьи о СФТК
            .sidemenu-subitem
              a(href="#") Видео о СФТК
        .sidemenu-item
          .sidemenu-title
            a(href="#") Объекты
    .page-col
      .content
        +breadcrumbs(["Фасадные системы‎"])
        .fsFacadeSystem
          h1.page-title Фасадные системы
          include ../modules/fs/contacts
