extends ../layouts/clean

block variables
  - pageTitle = "Партнерам";

block content


  .b-content
    .b-content__wrapper
      aside.b-content__side-bar
        nav.nav-menu
      main.b-content__main
        
      



