extends ../layouts/default.pug

block variables
  -var pageTitle='Политика конфиденциальности'

mixin browserLink(href, name, separator = ",")
  | #{" "}
  a(href=href).browser-link=name
  | #{separator}

block content
  .content
    +breadcrumbs(['Политика конфиденциальности'])
    .pagePrivacy
      .pagePrivacy-title.page-title Политика конфиденциальности
      .pagePrivacy-content
        .pagePrivacy-content-block
          .block-title
            | Данная страница содержит политику компании ООО
            br
            | «Геркулес-Сибирь» в отношении обработки
            br
            | персональных данных и конфиденциальности.
          .block-content
            .block-content-download
              .block-content-download-links
                .block-content-download-links-item
                  a(href="#").download-link
                    | Политика конфиденциальности ООО «Геркулес-Сибирь», pdf, 9,53 МБ
                .block-content-download-links-item
                  a(href="#").download-link
                    | Публичная оферта о предоставлении информационных услуг ООО «Геркулес-Сибирь», doc, 284 КБ
              .block-content-download-caption
                | Политика использования файлов cookie
            .block-content-info
              | Просмотр содержимого сайта www.gerkules.ru подтверждает согласие на использование cookies с целью повышения удобства использования сайта. Согласие или отказ на использование cookies выражается с помощью настроек браузера, а также через отказ от дальнейшего просмотра содержимого сайта www.gerkules.ru.
              br
              br
              | Что такое cookie?
              br
              br
              | Cookie – это небольшие текстовые файлы, которые передаются с сайта в браузер и хранятся на компьютере пользователя. Cookie помогают сайту запомнить информацию о посетителе сайта (Пользователе), его персональные настройки и предпочтения, а также помогают вести статистику и распознавать Пользователей
        .pagePrivacy-content-block
          .block-title Политика использования файлов cookie
          .block-content
            .block-content-list
              .block-content-list-caption Компания использует файлы cookie для следующих целей:
              .block-content-list-items
                .block-content-list-items-item 
                  | Для улучшения функциональности веб-сайта за счет сохранения настроек Пользователей;
                .block-content-list-items-item 
                  | Для улучшения качества и удобства использования сайта за счет сохранения и анализа данных о статистике посещений Пользователей;
                .block-content-list-items-item 
                  | Для доставки рекламного контента Пользователям, с учетом их интересов.
            .block-content-info
              | Компания не использует файлы cookie для сбора информации, позволяющей идентифицировать Пользователей.
              br
              br
              | Чтобы запретить использование файлов cookie необходимо сделать соответствующие настройки в своём браузере. Подробные инструкции для наиболее популярных браузеров по ссылкам: 
              +browserLink("#", "Opera")
              +browserLink("#", "Firefox")
              +browserLink("#", "Chrome")
              +browserLink("#", "Internet Explorer")
              +browserLink("#", "Safari")
              +browserLink("#", "Яндекс.Браузер", ".")
        .pagePrivacy-content-block
          .block-title Согласие на обработку персональных данных
          .block-content
            | Настоящим в соответствии с Федеральным законом № 152-ФЗ от 27.07.2006 года «О персональных данных» (далее – «Закон») Вы даете свое согласие на обработку компанией ООО «Геркулес-Сибирь» (далее - Компания) своих персональных данных.
            br
            br
            | Персональные данные – это информация, относящаяся к субъекту персональных данных, то есть, к потенциальному покупателю (потребителю), указанная таким субъектом на сайте Компании, переданная (заполненная) с использованием Интернет-сайта Компании (http://www.gerkules.ru). В состав персональных данных входят фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), данные о Вашем поведении на Интернет-сайте Компании (http://www.gerkules.ru), cookie, сведения о Вашей геопозиции, IP-адрес и иные данные (в том числе, метаданные), относимые Законом к категории персональных данных.
            br
            br
            | Мы осуществляем обработку Ваших персональных данных исключительно для оказания информационно-справочных и консультационных услуг при выборе Вами товаров и услуг, реализуемых нашей компанией, для информирования об оказываемых услугах и возможностях Интернет-сайта (http://www.gerkules.ru), а также для обеспечения соблюдения требований законодательства РФ.
            br
            br
            | Обработка Ваших персональных данных может осуществляться любым законодательно разрешенным способом (в том числе воспроизведение, копирование, обезличивание, блокирование, уничтожение), с помощью средств автоматизации и/или без использования средств автоматизации в соответствии с действующим законодательством РФ и положениями Компании.
            br
            br
            | Настоящим Вы также даете свое согласие на передачу своих персональных данных третьим лицам для их обработки в соответствии с целями, предусмотренными настоящим согласием, на основании договоров, заключенных Компанией с такими лицами. Со своей стороны гарантируем, такое третье лицо осуществляет защиту персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.
            br
            br
            | Настоящим согласием Вы также гарантируете, что представленная Вами информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена Вами в отношении себя лично.
            br
            br
            | Настоящее согласие действует с момента предоставления/передачи таких данных до момента его отзыва. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомление на адрес: 630025, г. Новосибирск, ул. Электровозная, д. 1, либо на адрес электронной почты info@gerkules.ru, с пометкой «Отзыв согласия на обработку персональных данных». Отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (http://www.gerkules.ru), а также уничтожение записей, содержащих Ваши персональные данные, в системах обработки персональных данных Компании, что может сделать невозможным пользование интернет-сервисами Компании.
            br
            br
            | Обращаем Ваше внимание на то, что Ваши обезличенные персональные данные могут использоваться Компанией в статистических (и иных исследовательских целях) после получения заявления (отзыва) согласия, а также после достижения целей, для которых настоящее согласие было получено.
