extends ../layouts/default

block variables
  - const pageTitle = "Где купить"

block content
  .content
    +breadcrumbs(["Где купить"])
    .where-buy
      h1.page-title Где купить
      .where-buy-location
        +field_select("region", [[0, "Хабаровская область"], [1, "Воронежская область"]], "Выберите регион")
        +field_select("city", [[0, "Хабаровск"], [1, "Воронеж"]], "Выберите город")
        include ../modules/buy/saler-card
      include ../modules/buy/markets-type
      .where-buy-markets
        include ../modules/buy/markets-map
        include ../modules/buy/markets-list
      include ../modules/buy/market-not-found
