extends ../layouts/default

block variables
  - const pageTitle = "Где купить"

block content
  .content
    +breadcrumbs(["Где купить"])
    .whereBuy
      h1.page-title Где купить
      .whereBuy-location
        .field-row
          +field_select("region", [[0, "Хабаровская область"], [1, "Воронежская область"]], "Выберите регион")
          +field_select("city", [[0, "Хабаровск"], [1, "Воронеж"]], "Выберите город")
        include whereBuy/salerCard
      include whereBuy/marketsType
      .whereBuy-markets
        include whereBuy/whereBuyMap
        include whereBuy/marketsList
      include whereBuy/marketNotFound
