.eventPlan {
  h2 {
    font: normal bold 28px/40px $font-second;
    color: $color-main;

    @media (max-width: $mobile-xl) {
      font: normal bold 15px/140% $font-second;
      margin-bottom: 20px;
    }
  }

  &-day {
    padding-top: 20px;
    border-top: 1px solid $color-border;

    h3 {
      font: normal bold 20px/32px $font-second;
      color: $color-main;

      @media (max-width: $mobile-xl) {
        font: normal bold 13px/140% $font-second;
      }
    }
  }

  &-points {
    padding-top: 27px;
    padding-left: 248px;

    @media (max-width: $mobile-xl) {
      padding-left: 0;
      padding-top: 5px;
    }
  }

  &-point {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;

    @media (max-width: $mobile-xl) {
      flex-wrap: wrap;

      &:not(:first-child) {
        .pointDate {
          display: none;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
      margin-bottom: 25px;
    }

    .pointDate {
      flex-basis: 288px;

      @media (max-width: $mobile-xl) {
        margin-bottom: 25px;
        flex-basis: 100%;
        order: -1;
        font-size: 12px;
      }
    }

    .pointDate,
    .pointTitle {
      align-self: stretch;
      font: normal normal 15px/22px $font-main;
      color: $color-main;
    }

    .pointTitle {
      flex-basis: 528px;
      flex-grow: 1;

      @media (max-width: $mobile-xl) {
        flex-basis: calc(100% - 70px);
      }
    }

    .pointTime {
      flex-basis: 100px;
      flex-shrink: 0;
      align-self: stretch;
      font: normal bold 15px/22px $font-second;
      color: $color-main;
      text-align: right;

      @media (max-width: $mobile-xl) {
        text-align: left;
        order: -1;
        flex-basis: 70px;
        font: normal bold 14px/22px $font-second;
      }
    }
  }
}
