.eventRegistration {
  h2 {
    font: normal bold 28px/40px $font-main;
    color: $color-basic;
  }

  form {
    margin-top: 40px;
  }
  .field {
    &-row {
      &:not(:first-child) {
        margin-top: 30px;
      }
      .main-link_rect {
        justify-self: flex-end;
      }
    }
    &-checkbox {
      max-width: 353px;
    }
  }

  .main-link_rect {
    max-width: 339px;

    i {
      margin-left: 20px;
    }
  }
}
