.eventRegistration {
  margin-top: 120px;

  form {
    margin-top: 40px;
  }

  .field {
    &-row {
      &:last-child {
        margin-top: 40px;

        .field-col {
          display: flex;
          align-items: center;
        }
      }

      .main-link_rect {
        margin-left: auto;
      }
    }

    &-checkbox {
      max-width: 350px;
    }

    textarea {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    &-col {
      .field {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
    }
  }

  .main-link_rect {
    max-width: 339px;

    i {
      margin-left: 20px;
    }
  }
}
