.eventRegistration {
  margin-top: 120px;

  h2 {
    font: normal bold 28px/40px $font-second;
    color: $color-main;
    @media (max-width: $mobile-xl) {
      font: normal bold 15px/140% $font-second;
    }
  }

  form {
    margin-top: 40px;
  }

  .field {
    &-row {
      &:last-child {
        margin-top: 40px;

        .field-col {
          display: flex;
          align-items: center;
        }
      }

      .main-link_rect {
        margin-left: auto;
        @media (max-width: $mobile-xl) {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }

    &-checkbox {
      max-width: 350px;
    }

    textarea {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    &-col {
      .field {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
    }
  }

  .main-link_rect {
    max-width: 339px;

    i {
      margin-left: 20px;
    }
  }
}
