.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;

  i {
    font-style: normal;
    color: $color-basic;
  }

  a {
    color: #6c6c6c;
  }

  span {
    color: $color-basic;

    &::before {
      content: '—';
      margin: 0 5px;
    }
  }

  .link {
    color: #6c6c6c;

    &::before {
      content: '—';
      margin: 0 5px;
    }
  }
}
