.client-service-card {
  border: 1px solid $color-border;
  color: $color-main;
  background-color: white;

  span {
    display: block;
    font-family: $font-second;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
  }
}
