.field {
  &-checkbox {
    input {
      position: absolute;
      visibility: hidden;

      &:checked+label::after {
        background-color: $color-red;
      }
    }

    label {
      cursor: pointer;
      position: relative;
      display: block;
      padding-left: 30px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 1px solid #ebebeb;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 10px;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        transition: $ease-main background-color;
      }
    }
  }

  &-select {
    .select2 {
      &-container {
        min-width: 289px;
        height: 70px;

        &--open {
          .select2-selection__arrow::before {
            transform: rotate(180deg);
          }
        }
      }

      &-selection {
        height: 100%;
        border-radius: 0;
        border-color: $color-border-second;

        &__rendered {
          height: 100%;
          line-height: 70px !important;
          padding-left: 37px !important;
          padding-right: 80px !important;
        }

        &__arrow {
          top: 0 !important;
          right: 0 !important;
          width: 80px !important;
          height: 70px !important;
          border: 1px solid $color-border-second;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(../images/calendar-select-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: $ease-main transform;
          }

          b {
            display: none;
          }
        }
      }
    }
  }
}

.select2-dropdown {
  border-radius: 0 !important;
  border-color: $color-border-second !important;
}
