.field {
  &-checkbox {
    input {
      position: absolute;
      visibility: hidden;

      &:checked + label::after {
        background-color: $color-red;
      }
    }

    label {
      cursor: pointer;
      position: relative;
      display: block;
      padding-left: 30px;
      &.error {
        &::before {
          background-color: $color-red;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -1.5px;
        display: block;
        width: 20px;
        height: 20px;
        transition: all 0.3s;
        background-color: white;
        border: 1px solid #ebebeb;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 4.5px;
        z-index: 2;
        left: 6px;
        width: 8px;
        height: 8px;
        transition: $ease-main background-color;
      }
    }
  }

  &-base {
    label {
      position: relative;
      display: block;
      &.error {
        input {
          border-color: $color-red;
        }
      }
      input {
        display: block;
        border: 1px solid $color-border-second;
        color: $color-basic;
        font: normal normal 15px/22px $font-main;

        &::placeholder {
          color: $color-placeholder;
        }
      }

      .field-inf {
        position: absolute;
        font: normal normal 14px/16px $font-main;
        color: $color-basic;
        white-space: nowrap;

        .errorText {
          opacity: 0;
        }
      }
    }
  }

  &-area {
    label {
      position: relative;
      display: block;

      textarea {
        display: block;
        border: 1px solid $color-border-second;
      }

      .field-inf {
        position: absolute;

        .errorText {
          opacity: 0;
        }
      }
    }
  }
}

.select2-container {
  min-width: 412px; // длина select2

  .select2-selection {
    height: 70px; // высота select2
    border: 1px solid $color-border-second; // граница select2
    border-radius: 0;

    .select2-selection__rendered {
      padding-left: 45px; // текст select2
      padding-right: 125px;
      line-height: 70px;
    }

    .select2-selection__arrow {
      position: absolute; // стрелка select2
      top: 0;
      right: 0;
      border: 1px solid $color-border-second;
      height: 100%;
      width: 80px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/select-arrow.svg);
        background-position: center center;
        background-repeat: no-repeat;
        transition: $ease-main transform;
      }

      b {
        display: none; // стрелка select2 по-умолчанию
      }
    }

    .select2-selection__placeholder {
      color: #6c6c6c; // placeholder select2
    }
  }
}

.select2-container--open {
  .select2-selection {
    // открытый select2
    .select2-selection__arrow {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
}

.select2-dropdown {
  z-index: 11000; // для отображения в модальных окнах (z-index 10000)
  border-color: $color-border-second; // выпадающий список select2
  border-radius: 0;
}
