.redRect {
  $angle: 20deg;
  $width: 100%;
  $height: 4px;
  overflow: hidden;
  width: $width;
  height: $height;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-red;
    transform-origin: right top;
    transform: skewX(-$angle);
  }

  &-vertical {
    width: $height;
    height: $width;

    &::before {
      transform-origin: left top;
      transform: skewY($angle);
    }
  }
}
