.academyEvent {
  h1 {
    margin-top: 35px;
    max-width: 905px;
  }

  .tags {
    margin-top: 20px;
    display: inline-block;
    color: $color-red;
    font-size: 15px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;

    &:not(:last-child) {
      &::after {
        white-space: pre;
        content: "    ";
        display: inline;
      }
    }
  }
}
