.academy {
  margin-top: 35px;
  padding-bottom: 120px;


  &__modal {

    @media (max-width: 576px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__modal-container {

    @media (max-width: 576px) {
      max-height: 160px !important;
    }
  }

  &__modal-text {
    text-align: center;

    @media (max-width: 576px) {
      font-size: 13px !important;
      line-height: 160% !important;
    }
  }

  &__modal-close {

    @media (max-width: 576px) {
      $size: 40px;
      width: $size !important;
      height: $size !important;

      @mixin pseudo-element {
        width: 10px !important;
        height: 1px !important;
      }

      &::before {
        @include pseudo-element();
      }

      &::after {
        @include pseudo-element();
      }
    }
  }


  h2 {
    margin-top: 100px;
    font-family: $font-second;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;

    &:last-of-type {
      margin-top: 110px;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .client-service-card {
      width: 288px;
      padding: 24px 0 16px 56px;
    }
  }

  .events {
    &-control {
      margin-top: 30px;

      .select2-container {
        // min-width: 289px;

        .select2-selection {
          .select2-selection__rendered {
            padding-left: 37px;
            padding-right: 117px;
          }
        }
      }

      .field-select {
        padding-top: 0;
      }
    }

    &-calendar {
      margin-top: 60px;
      width: 100%;
    }

    &-week {
      margin-top: 40px;
    }

    &-card {
      flex-basis: 50%;

    }
  }

  .trainers-slider {
    position: relative;
    margin-top: 50px;

    .sliderControls {
      position: absolute;
      right: 0;
      bottom: calc(100% + 40px);
    }
  }
}
