.academyEvent {
  padding-bottom: 120px;

  h1 {
    margin-top: 35px;
    max-width: 905px;
  }

  .hashTags {
    margin-top: 19px;
  }

  .eventInfoPanel {
    margin-top: 18px;
  }

  &-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-xl) {
      display: block;
    }
    &--list {
      display: flex;

      @media (max-width: $mobile-xl) {
        display: block;
      }
      li {
        margin-left: 40px;

        @media (max-width: $mobile-xl) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }

  &-aboutEvent {
    margin-top: 80px;

    h2 {
      font: normal bold 28px/40px $font-second;
      color: $color-main;
      white-space: nowrap;

      @media (max-width: $mobile-xl) {
        font: normal bold 15px/140% $font-second;
      }
    }

    .aboutRow {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: $mobile-xl) {
        display: block;
      }

      p {
        max-width: 641px;
        font: normal normal 15px/22px $font-main;
        color: $color-main;
      }

      .main-link_rect {
        max-width: 339px;
        margin-left: 60px;

        @media (max-width: $mobile-xl) {
          margin-left: 0;
          max-width: 230px;
          margin-top: 40px;
          height: 50px;
          font-size: 15px;
        }

        i {
          margin-left: 20px;
        }
      }
    }
  }

  .eventPlan {
    margin-top: 60px;
  }

  .eventSpeaker {
    margin-top: 80px;
    padding-bottom: 40px;
  }

  .eventRegistration {
    margin-top: 80px;
  }
}
