.academyEvent {
  padding-bottom: 120px;

  h1 {
    margin-top: 35px;
    max-width: 905px;
  }

  .hashTags {
    margin-top: 19px;
  }

  .eventInfoPanel {
    margin-top: 18px;
  }

  &-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--list {
      display: flex;
      li {
        margin-left: 40px;
      }
    }
  }

  &-aboutEvent {
    margin-top: 80px;

    h2 {
      font: normal bold 28px/40px $font-second;
      color: $color-main;
      white-space: nowrap;
    }

    .aboutRow {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      p {
        max-width: 641px;
        font: normal normal 15px/22px $font-main;
        color: $color-main;
      }

      .main-link_rect {
        max-width: 339px;
        margin-left: 60px;

        i {
          margin-left: 20px;
        }
      }
    }
  }

  .eventPlan {
    margin-top: 60px;
  }

  .eventSpeaker {
    margin-top: 80px;
  }

  .eventRegistration {
    margin-top: 80px;
  }
}
