.academy {
  margin-top: 35px;
  padding-bottom: 120px;

  h2 {
    margin-top: 100px;
    font-family: $font-third;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;

    &:last-of-type {
      margin-top: 110px;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .client-service-card {
      width: 288px;
      padding: 24px 0 16px 56px;
    }
  }

  .events {
    &-control {
      margin-top: 30px;

      .select2-container {
        min-width: 289px;

        .select2-selection {
          .select2-selection__rendered {
            padding-left: 37px;
            padding-right: 117px;
          }
        }
      }

      .field-select {
        padding-top: 0;
      }
    }

    &-calendar {
      margin-top: 60px;
      width: 100%;
    }

    &-week {
      margin-top: 40px;
    }

    &-card {
      flex-basis: 50%;

      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  .trainers {
    &-slider {
      position: relative;
      margin-top: 50px;
    }

    &-control {
      position: absolute;
      right: 0;
      bottom: calc(100% + 40px);
    }
  }
}
