.card {
  &-product {
    &_bottom {
      margin-top: 120px;
    }

    &_calculator {
      position: relative;
      left: -60px;
      margin-top: 120px;
      width: calc(100% + 60px + 80px);
      display: flex;
      background-color: #F9F9F9;

      &-col {
        min-height: 533px;
        align-self: stretch;

        &:first-child {
          padding-top: 80px;
          padding-left: 57px;
          min-width: 470px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &:last-child {
          margin-left: 106px;
          padding-top: 80px;
          padding-right: 60px;
        }
      }

      img {
        display: block;
        margin-left: auto;
        mix-blend-mode: darken;
      }

      .field {
        &-row {
          grid-template-columns: repeat(3, minmax(185px, 200px));
          column-gap: 60px;
        }

        &-base {
          input {
            height: 60px;
            background-color: white;
          }
        }

        &-select {
          &_caption {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            line-height: 16px;
          }

          .select2 {
            &-container {
              min-width: 100%;
            }

            &-selection {
              height: 60px;

              &__rendered {
                line-height: 60px;
                padding: 0;
                padding-left: 26px;
              }

              &__arrow {
                border: none;
                width: 54px;
              }
            }
          }
        }
      }

      h3 {
        margin-top: 66px;
        font-family: $font-third;
        font-weight: bold;
        font-size: 20px;
        line-height: 144%;
      }

      &-row {
        margin-top: 20px;
        max-width: 720px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: block;
          font-size: 15px;
          line-height: 250%;

          i {
            position: relative;
            top: -3px;
            margin-right: 28px;
          }
        }
      }

      &-result {
        span {
          display: inline-block;
          font-family: $font-third;
          font-weight: bold;
          font-size: 20px;
          line-height: 144%;
          color: $color-red;

          &:last-child {
            position: relative;
            margin-left: 40px;

            &::before {
              position: absolute;
              bottom: 0;
              left: -25px;
              content: "";
              display: block;
              width: 1px;
              height: 37px;
              background-color: $color-red;
              transform-origin: left bottom;
              transform: rotate(15deg);
            }
          }
        }
      }

      p {
        margin-top: 87px;
        font-size: 15px;
        line-height: 150%;
      }
    }

    &_passport {
      margin-top: 120px;

      p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 150%;
      }

      &-row {
        position: relative;
        left: -60px;
        margin-top: 60px;
        width: calc(100% + 60px + 80px);
        height: 541px;
        display: flex;
        border-top: 1px solid $color-border-second;
        border-bottom: 1px solid $color-border-second;
      }

      &-col {
        align-self: stretch;

        &:first-child {
          padding-top: 80px;
          padding-left: 60px;
          flex-basis: 615px;
          flex-shrink: 0;

          .field {
            &-row {
              grid-template-columns: 200px 100px;
              column-gap: 20px;
            }
          }

          p {
            position: relative;
            margin-top: 40px;
            padding: 25px 50px 25px 0;

            &::before {
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              right: 0;
              content: "";
              display: block;
              width: calc(100% + 60px);
              background-color: #F8F8F8;
              transform-origin: right top;
              transform: skewX(-20deg);
            }
          }

          .main-link_rect {
            margin-top: 60px;
            max-width: 357px;

            i {
              margin-left: 20px;
            }
          }
        }

        &:nth-child(2) {
          position: relative;
          margin-left: 30px;
          width: 217px;
          flex-shrink: 0;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          &::before {
            content: "";
            display: block;
            height: calc(100% + 60px);
            width: 100%;
            border-left: 1px solid $color-border-second;
            position: absolute;
            left: 0;
            top: 50%;
            transform-origin: left bottom;
            transform: translateY(-50%) skewX(-20deg);
          }

          .sliderControls {
            margin-bottom: -1px;
            background: none;
          }
        }

        &:last-child {
          position: relative;
          margin-left: 60px;
          padding: 80px 60px;
          padding-left: 0;
          min-width: 500px;

          .sliderControls {
            position: absolute;
            bottom: 0;
            left: calc(-60px + -217px + (217px - 166px) / 2);
            margin-bottom: -1px;
            background: none;
          }

          h3 {
            font-family: $font-third;
            font-weight: bold;
            font-size: 20px;
            line-height: 144%;
          }
        }
      }

      &-help {
        position: relative;
        margin-top: 36px;

        img {
          display: block;
        }

        p {
          position: absolute;
          margin: 0;
          top: -6px;
          left: 0;
          font-size: 15px;
          line-height: 150%;
        }
      }

      // .swiper-slide {
      //   min-width: 500px;
      // }
    }
  }

  .fs-objects {
    &_objects {
      margin-top: 112px;
    }
  }
}

.page .content.card {
  padding: 0 80px 120px 60px;

  h2 {
    font-family: $font-third;
    font-weight: bold;
    font-size: 28px;
    line-height: 144%;
  }
}