.page .content-row .content.documentation {}

.documentation {
  h2 {
    font-family: $font-second;
    font-weight: bold;
    font-size: 28px;
    line-height: 144%;

    &+.content-caption {
      margin-top: 10px;
    }

    &.content-large-margin {
      margin-top: 100px;
    }
  }

  h3 {
    margin-top: 60px;
    font-family: $font-second;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;

    &+.card-files_list {
      margin-top: 30px;
    }
  }

  &-sections {
    margin: 0.5px;
    margin-top: 60.5px;
    margin-left: -40.5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .documentation-item {
      padding: 30px 40px 45px 40px;
      min-height: 263px;
      display: flex;
      flex-direction: column;
    }

    h4 {
      font-family: $font-second;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
    }

    p {
      margin-top: 5px;
      flex-grow: 1;
      font-size: 15px;
      line-height: 150%;
    }

    .main-link {
      margin-top: 24px;
      width: fit-content; // потому что ссылка ратягивается, несмотря на inline-flex
      // fit-content не поддерживается IE 11
    }
  }

  &-item {
    margin: -0.5px;
    border: 1px solid $color-border;
  }

  .tabs {
    &-menu {
      margin-bottom: 0;
    }

    &-list {
      margin-top: 60px;
    }

    &-item {
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          margin-left: 60px;
          display: flex;
          align-items: center;
          white-space: nowrap;

          span {
            margin-left: 28px;
            font-family: $font-main;
            font-weight: normal;
            font-size: 15px;
            line-height: 250%;
          }
        }

        &+h3 {
          margin-top: 40px;
        }
      }
    }
  }

  .card-files_list {
    margin-top: 60px;
    width: calc(100% + 40px);

    h3 {
      font-family: $font-main;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
    }
  }

  .fs-list_showmore {
    margin-top: 60px;
  }

  &-link {
    a {
      position: relative;
      padding-left: 28px;
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
      color: $color-gray;
    }

    i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      filter: contrast(0);
    }
  }

  &-links {
    margin-top: 80px;

    .documentation-link {
      &:first-of-type {
        margin-top: 30px;
      }

      &:not(:first-of-type) {
        margin-top: 18px;
      }
    }
  }

  &-actions {
    margin-top: 40px;
    counter-reset: index;

    &>li {
      position: relative;
      padding-left: 90px;
      max-width: calc(700px + 90px);
      font-size: 15px;
      line-height: 150%;

      .documentation-link {
        margin-left: 30px;
        display: inline-block;
      }

      ul {
        margin-top: 20px;

        li {
          position: relative;
          padding-left: 30px;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 20px;
            border-top: 2px solid $color-red;
            border-right: 1px solid transparent;
          }

          &:not(:first-child) {
            margin-top: 15px;
          }
        }
      }

      .documentation-important {
        margin-top: 20px;
        padding-left: 30px;
        max-width: 590px;
      }

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        content: counter(index);
        counter-increment: index;
        display: block;
        font-family: $font-second;
        font-weight: bold;
        font-size: 15px;
        line-height: 144%;
        color: $color-red;
      }

      .content-color-red {
        color: $color-red;
      }

      &:not(:first-child) {
        margin-top: 40px;
      }

      &.content-other-width {
        max-width: calc(660px + 90px);
      }
    }
  }

  &-frame {
    margin-top: 80px;
    padding: 40px 60px 45px 90px;
    max-width: 825px;
    border: 1px solid $color-border;
    font-size: 15px;
    line-height: 150%;

    p {
      &:not(:first-child) {
        margin-top: 40px;
      }
    }

    ul {
      margin-top: 20px;

      li {
        position: relative;
        padding-left: 30px;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: "";
          display: block;
          width: 20px;
          border-top: 2px solid $color-red;
          border-right: 1px solid transparent;
        }

        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
  }

  &-important {
    margin-top: 80px;
    padding-left: 90px;
    max-width: calc(600px + 90px);
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
  }

  &-form {
    margin-top: 100px;

    form {
      margin-top: 40px;
    }

    .field {
      &:not(:first-child) {
        margin-top: 30px;
      }

      &-row {
        &:last-child {
          margin-top: 40px;
          grid-template-columns: auto minmax(265px, 300px);
          justify-content: space-between;
          column-gap: 20px; // не 40, поскольку у кнопки лишние 10 padding по бокам
        }
      }

      &-area {
        textarea {
          padding: 18px 25px;
        }
      }
    }

    .main-link_rect {
      margin-left: 10px; // поскольку лишние 10 padding по бокам

      i {
        margin-left: 20px;
      }
    }
    
    // select2
    .field.field-select {
      .select2.select2-container {
        min-width: 100%;

        .select2-selection {
          height: 60px;

          .select2-selection__rendered {
            padding-left: 25px;
            padding-right: calc(25px + 60px);
            height: 60px;
            font-size: 15px;
            line-height: 60px;
            color: $color-main;

            .select2-selection__placeholder {
              color: $color-placeholder;
            }
          }
          
          .select2-selection__arrow {
            width: 60px;
            height: 60px;
          }
        }

        &--open {
          .select2-selection {
            .select2-selection__rendered {
              color: white;

              .select2-selection__placeholder {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .content-caption {
    font-family: $font-second;
    font-weight: bold;
    font-size: 12px;
    line-height: 144%;
    color: $color-gray;
  }
}