.page .content-row .content.documentation {}

.documentation {
  h2 {
    font-family: $font-second;
    font-weight: bold;
    font-size: 28px;
    line-height: 144%;
  }

  h3 {
    margin-top: 60px;
    font-family: $font-second;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;

    &+.card-files_list {
      margin-top: 30px;
    }
  }

  &-sections {
    margin: 0.5px;
    margin-top: 60.5px;
    margin-left: -40.5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .documentation-item {
      padding: 30px 40px 45px 40px;
      min-height: 263px;
      display: flex;
      flex-direction: column;
    }

    h4 {
      font-family: $font-second;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
    }

    p {
      margin-top: 5px;
      flex-grow: 1;
      font-size: 15px;
      line-height: 150%;
    }

    .main-link {
      margin-top: 24px;
      width: fit-content; // потому что ссылка ратягивается, несмотря на inline-flex
      // fit-content не поддерживается IE 11
    }
  }

  &-item {
    margin: -0.5px;
    border: 1px solid $color-border;
  }

  .tabs {
    &-menu {
      margin-bottom: 0;
    }

    &-list {
      margin-top: 60px;
    }

    &-item {
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: flex;
          align-items: center;

          span {
            margin-left: 28px;
            font-family: $font-main;
            font-weight: normal;
            font-size: 15px;
            line-height: 250%;
          }
        }

        &+h3 {
          margin-top: 40px;
        }
      }
    }
  }

  .card-files_list {
    margin-top: 60px;
    width: calc(100% + 40px);

    h3 {
      font-family: $font-main;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
    }
  }
}