.page404 {
  padding-bottom: 400px;
  position: relative;

  @media (max-width: 450px){
    padding-bottom: 280px;

    .page-title {
      font-size: 20px;
    }
  }

  @media (max-width: 360px){
    padding-bottom: 280px;
  }

  &-content {
    position: relative; // контент
    z-index: 10; // над фоном
    max-width: 700px;
  }
  &-quest {
    font-family: $font-second;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    color: #bcbcbc;
    margin-top: 60px;

    @media (max-width: 900px){
      margin-top: 20px;
      font-size: 15px;
      line-height: 21px;
    }
  }
  &-links {
    margin-top: 30px;
    a {
      margin-right: 40px;
      @media (max-width: 450px){
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
  &-img {
    position: absolute;
    z-index: 5;
    right: 60px;
    top: 0;

    @media (max-width: 1300px){
      top:85px;
    }

    @media (max-width: 959px){
      top:225px;
      max-width: 550px;
    }

    @media (max-width: 680px){
      top:250px;
      max-width: 500px;
    }


    img {
      position: relative;
      z-index: 10;
      width: 100%;
    }
    &-lines { // фоновые полосы
      position: absolute;
      z-index: 5; // под фоновой картинкой
      top: -63.43px;
      right: -183.25px;
      .line {
        position: absolute;
        right: 0;
        top: 0;
        width: 1777px;
        height: 1px;
        border-top: 1px dashed #D6D6D6;
        transform-origin: right center;
        transform: rotate(-29.72deg);

        &:nth-child(2) {
          top: 154px;
        }

        &:nth-child(3) {
          top: 322.43px;
        }
      }
    }
  }
}
