.content {
  color: $color-basic-second;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-title {
      font-family: $font-third;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 69px;
      margin-right: 60px;
    }

    &-contact {
      min-width: 288px;
      padding: 24px 0px 16px 56px;
      border: 1px solid #E5E5E5;
      background-color: white;

      &-caption {
        padding-left: 2px;
        font-family: $font-third;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
      }

      &-phone {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  .calendar {
    margin-top: 30px;

    &-control {
      
    }

    &-block {
      margin-top: 60px;
      
      &-week {
        background-color: #FBFBFB;
        min-height: 64px;
        display: flex;

        &-item {
          align-self: stretch;
          flex-basis: calc(100% / 7);
          text-transform: uppercase;
          @include display-flex-center;
          border: 1px solid $color-calendar-border;

          &:not(:last-child) {
            border-right: none;
          }
        }
      }

      &-month {
        &-row {
          display: flex;
        }
      }
    }
  }
}
