.page .content.shares {
  padding-right: 80px;

  &.content-padding-top {
    padding-top: 106px;
  }
}

.shares {
  .page-title {
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    .main-link {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &>p {
    margin-top: 33px;
    font-size: 15px;
    line-height: 150%;
  }

  &>.shares-time {
    margin-top: 47px;

    .main-link {
      position: absolute;
      top: 25px;
      right: 0;
    }
  }

  &-list {
    margin: 40.5px -79.5px 0.5px -60.5px;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));

    &+.fs-list_showmore {
      margin-top: -1px;
    }
  }

  &-item {
    margin: -0.5px;
    padding: 60px 45px 70px 60px;
    padding-bottom: 70px;
    min-height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $color-border-second;

    &_info {
      p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 150%;
      }
    }

    h2 {
      font-family: $font-third;
      font-weight: bold;
      font-size: 20px;
      line-height: 160%;
    }

    .shares-time {
      margin-top: 60px;
    }
  }

  &-products {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 40px) / 2));
    column-gap: 40px;
    row-gap: 40px;

    &+.fs-list_showmore {
      margin-top: 60px;
    }
  }

  &-product {
    min-height: 260px;
    display: flex;
    border: 1px solid $color-border-second;

    &_photo,
    &_content {
      align-self: stretch;
    }

    &_photo {
      padding: 25px;
      width: 34.5%;
      flex-shrink: 0;
      min-width: 200px;
      max-width: 300px;
      @include display-flex-center;
      border-right: 1px solid $color-border-second;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &_content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &>a {
        padding-left: 40px;
        padding-right: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        border-top: 1px solid $color-border-second;
        font-weight: bold;
        font-size: 15px;
        line-height: 150%;
        color: $color-red;
        white-space: nowrap;

        i {
          margin-left: 19px;
          transition: $ease-main;
        }

        &:hover {
          i {
            transform: translateX(8px);
          }
        }
      }
    }

    &_info {
      padding: 40px;
      flex-grow: 1;

      h2 {
        font-family: $font-third;
        font-weight: bold;
        font-size: 15px;
        line-height: 144%;
      }

      .hashTags {
        margin-top: 46px;
      }
    }
  }



  &-time {
    position: relative;
    padding-left: 40px;

    i {
      position: absolute;
      top: 4px;
      left: 0;
    }

    p {
      font-size: 15px;
      line-height: 150%;
      white-space: pre;

      span {
        font-weight: bold;
      }
    }

    &>p {
      font-size: 13px;
      color: $color-gray;

      &+p {
        margin-top: 6px;
        font-size: 15px;
        color: $color-basic;
      }
    }

    &_row {
      margin-top: 6px;
      display: flex;

      p {
        &:last-child {
          position: relative;
          margin-left: 60px;

          &::before {
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translate(-50%, -50%);
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background: $color-border-second;
          }
        }
      }
    }

    &::before {
      position: absolute;
      top: -6px;
      left: -60px;
      content: "";
      display: block;
      height: 60px;
      border-left: 4px solid $color-red;
      border-top: 3px solid transparent;
    }
  }

  .fs-list_showmore {
    margin-left: -60px;
    margin-right: -80px;
  }

  &.content-padding {
    padding-top: 106px;
  }
}