.page .content-row .content.vacancy {
  @media (max-width: 1280px) {
    padding-right: 40px;
  }

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
  }

  @media (max-width: 830px) {
    padding-top: 0;
  }

  @media (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
}

.vacancy {
  &>a {
    display: none;
    position: relative;
    margin-left: -30px;
    padding: 0 30px;
    font-size: 12px;
    line-height: 40px;
    color: $color-gray;

    &::before {
      display: none;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: inline-block;
      width: 15px;
      height: 1px;
      background-color: $color-border-second;
    }

    @media (max-width: 830px) {
      display: inline-block;
    }

    @media (max-width: 600px) {
      margin-left: -20px;
      padding: 0 20px;

      &::before {
        width: 10px;
      }
    }
  }

  .breadcrumbs {
    @media (max-width: 830px) {
      display: none;
    }
  }

  .page-title {
    @media (max-width: 1280px) {
      font-size: 40px;
      line-height: 60px;
    }

    @media (max-width: 1024px) {
      font-size: 32px;
      line-height: 50px;
    }

    @media (max-width: 830px) {
      font-size: 28px;
      line-height: 40px;
      position: relative;
      margin-top: 0;
      margin-left: -30px;
      padding: 26px 60px 19px 30px;
      width: calc(100% + 30px + 30px);
      border-top: 1px solid $color-border-second;
      border-bottom: 1px solid $color-border-second;

      &:after {
        position: absolute;
        top: 50%;
        right: 27px;
        transform-origin: center;
        transform: translateY(-75%) rotate(45deg);
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border: 2px solid $color-basic;
        border-top-color: transparent;
        border-left-color: transparent;
        transition: $ease-main;
      }
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 35px;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 40px;
      width: calc(100% + 20px + 20px);

      &:after {
        right: 22px;
      }
    }
  }

  &-list {
    margin-top: 60px;
    margin-left: -40px;
    width: calc(100% + 40px);

    @media (max-width: 1280px) {
      margin-top: 40px;
    }

    @media (max-width: 1024px) {
      margin-top: 30px;
      margin-left: -30px;
      width: calc(100% + 30px + 30px);
    }

    @media (max-width: 830px) {
      margin-top: 0;
    }

    @media (max-width: 600px) {
      margin-left: -20px;
      width: calc(100% + 20px + 20px);
    }
  }

  &-item {
    position: relative;
    padding: 40px;
    padding-right: 80px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &::before {
      opacity: 0;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: -80px;
      content: "";
      display: block;
      background: #fafafa;
      transition: $ease-main;
    }

    &::after {
      position: absolute;
      top: 47px;
      right: 32px;
      transform-origin: center;
      transform: translateY(-50%) rotate(45deg);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 2px solid $color-basic;
      border-top-color: transparent;
      border-left-color: transparent;
      transition: $ease-main;
    }

    &_content {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 60px;
      cursor: pointer;

      &:hover {

        .vacancy-item_title,
        .vacancy-item_salary {
          color: $color-red;
        }
      }
    }

    &_title {
      font-family: $font-third;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      transition: $ease-main;
    }

    &_tags {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: start;
      column-gap: 60px;
      row-gap: 10px;

      @mixin tag_separator($column-gap) {
        &:not(:last-child) {
          &::before {
            position: absolute;
            top: 50%;
            right: -$column-gap / 2;
            transform: translate(50%, -50%);
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background: $color-border-second;
          }
        }
      }

      @mixin tag_separator_off() {
        &:not(:last-child) {
          &::before {
            display: none;
          }
        }
      }

      span {
        position: relative;
        font-size: 15px;
        line-height: 150%;
        color: $color-basic;

        &:nth-child(3n + 1),
        &:nth-child(3n + 2) {
          @include tag_separator(60px);
        }
      }

      @media (max-width: 530px) {
        grid-template-columns: repeat(2, auto);
        column-gap: 30px;

        span {

          &:nth-child(3n + 1),
          &:nth-child(3n + 2) {
            @include tag_separator_off();
          }

          &:nth-child(odd) {
            @include tag_separator(30px);
          }
        }
      }
    }

    &_salary {
      font-family: $font-third;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      text-align: right;
      transition: $ease-main;
    }

    &_dropdown {
      margin-left: -40px;
      width: calc(100% + 40px + 80px);
      max-height: 0;
      grid-column-start: 1;
      grid-column-end: 3;
      overflow: hidden;
      cursor: initial;

      &-content {
        padding: 40px 80px 20px 40px;

        &>h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 130%;

          &:not(:first-child) {
            margin-top: 30px;
          }
        }

        &>ul {
          margin-top: 20px;

          li {
            position: relative;
            padding-left: 30px;
            font-size: 15px;
            line-height: 150%;

            &:not(:first-child) {
              margin-top: 20px;
            }

            &::before {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              content: "";
              display: block;
              width: 20px;
              border-top: 2px solid $color-red;
              border-right: 1px solid transparent;
            }
          }
        }

        &>p {
          margin-top: 20px;
          font-size: 15px;
          line-height: 150%;
        }
      }

      @media (max-width: 1280px) {
        width: calc(100% + 40px + 60px);

        &-content {
          padding-right: 60px;
        }
      }

      @media (max-width: 1024px) {
        margin-left: -30px;
        width: calc(100% + 30px + 60px);

        &-content {
          padding-left: 30px;
        }
      }
    }

    &_contact {
      position: relative;
      margin-top: 40px;
      padding: 60px 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 50%));
      align-items: center;

      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -40px;
        bottom: 0;
        right: -80px;
        transform-origin: right top;
        transform: skewX(-20deg);
        content: '';
        display: block;
        background: white;
      }

      &-text {
        margin-right: 90px;

        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 130%;
        }

        p {
          margin-top: 20px;
          font-size: 15px;
          line-height: 150%;

          &+p {
            margin-top: 10px;
            display: flex;
            align-items: center;
          }

          a {
            &:first-child {
              $margin-right: 40px;
              position: relative;
              margin-right: $margin-right;

              &::before {
                position: absolute;
                top: 50%;
                right: -$margin-right / 2;
                transform: translate(50%, -50%);
                content: "";
                display: block;
                width: 1px;
                height: 20px;
                background: $color-border-second;
              }
            }

            &.content-red {
              color: #e41d2c;
            }
          }
        }
      }

      .main-link_rect {
        margin-left: -10px;
        min-width: 255px;
        max-width: 280px;

        i {
          margin-left: 20px;
        }
      }

      @media (max-width: 1280px) {
        &::before {
          right: -60px;
        }
      }

      @media (max-width: 1150px) {
        display: block;

        &-text {
          margin-right: 0;
        }

        .main-link_rect {
          margin-top: 30px;
        }
      }

      @media (max-width: 1024px) {
        &::before {
          right: 0;
        }
      }

      @media (max-width: 600px) {
        padding-top: 30px;
        padding-bottom: 40px;

        &::before {
          right: -60px;
          transform: none;
        }

        &-text {
          p {
            &+p {
              display: block;

              a {
                display: block;

                &:first-child {
                  margin-bottom: 10px;
                  margin-right: 0;

                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.open {
      &:before {
        opacity: 1;
      }

      &:after {
        transform: rotate(225deg);
        border-bottom-color: $color-red;
        border-right-color: $color-red;
      }

      .vacancy-item_title,
      .vacancy-item_salary {
        color: $color-red;
      }
    }

    .content-nowrap {
      white-space: nowrap;
    }

    @media (max-width: 1280px) {
      padding-right: 60px;

      &::after {
        right: 27px;
      }
    }

    @media (max-width: 1024px) {
      padding: 30px;
      padding-right: 60px;

      &::after {
        top: 37px;
      }
    }

    @media (max-width: 920px) {
      padding-right: 30px;

      &::after {
        top: auto;
        bottom: 40px;
      }

      &_info {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &_salary {
        margin-top: 30px;
        padding-right: 30px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: left;
      }

      &_dropdown {
        width: calc(100% + 30px + 30px);

        &-content {
          padding-right: 30px;
        }
      }

      &.open {
        .vacancy-item_salary {
          margin-top: 10px;
        }
      }
    }

    @media (max-width: 830px) {
      border: none;

      &:not(:first-child) {
        margin-top: 0;
      }

      &_content {
        position: relative;

        &::before {
          position: absolute;
          bottom: -30px;
          left: 0;
          right: -30px;
          content: "";
          display: block;
          height: 1px;
          background: $color-border-second;
          transition: $ease-main;
        }
      }

      &.open {
        .vacancy-item_content {
          &::before {
            opacity: 0;
          }
        }
      }
    }

    @media (max-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;

      &::after {
        right: 22px;
      }

      &_content {
        &::before {
          right: -40px;
        }
      }
    }
  }

  &-contact {
    margin-top: 90px;
    display: grid;
    grid-template-columns: minmax(auto, 400px) 1fr;
    column-gap: 120px;

    &_title {
      font-family: $font-third;
      font-weight: bold;
      font-size: 28px;
      line-height: 144%;
    }

    &>.vacancy-contact_title {
      display: none;
    }

    &_photo {
      img {
        max-width: 100%;
        display: block;
      }

      @media (max-width: 1024px) {
        max-width: 320px;
      }
    }

    &_info {
      h3 {
        margin-top: 60px;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
      }

      p {
        margin-top: 5px;
        display: block;
        font-size: 15px;
        line-height: 30px;
      }
    }

    &_phone,
    &_email {
      position: relative;
      padding-left: 50px;

      i {
        position: absolute;
        top: 11px;
        left: 0;
      }

      a {
        display: inline-block;
        font-size: 18px;
        line-height: 200%;
      }
    }

    &_phone {
      margin-top: 20px;

      i {
        top: 8px;
        left: 2px;
      }
    }

    &_email {
      margin-top: 5px;

      a {
        color: $color-red;
      }
    }

    .main-link_rect {
      margin-top: 50px;
      min-width: 310px;
      max-width: 330px;
      margin-left: -10px;

      i {
        margin-left: 20px;
      }
    }

    @media (max-width: 1440px) {
      column-gap: 60px;
    }

    @media (max-width: 1330px) {
      display: block;

      &>.vacancy-contact_title {
        display: block;
      }

      &_photo {
        margin-top: 45px;
      }

      &_info {
        margin-top: 60px;

        .vacancy-contact_title {
          display: none;
        }
      }
    }

    @media (max-width: 830px) {
      margin-top: 60px;
    }

    @media (max-width: 430px) {
      margin-top: 40px;
    }
  }
}