.vacancy {
  &-list {
    position: relative;
    left: -40px;
    margin-top: 60px;
    width: calc(100% + 40px);
  }

  &-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 40px 80px 40px 40px;
    position: relative;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &::before {
      content: "";
      display: block;
      opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: -80px;
      transition: opacity $ease-main;
      background: #fafafa;
      position: absolute;
      z-index: -1;
    }

    &.open {
      &::before {
        opacity: 1;
      }

      .vacancy-item {
        &_title {
          color: $color-red;
        }

        &_salary {
          color: $color-red;
        }

        &_head {
          &:after {
            transform: rotate(225deg);
            border-bottom-color: $color-red;
            border-right-color: $color-red;
          }
        }
      }
    }

    &:hover {

      .vacancy-item_title,
      .vacancy-item_salary {
        color: #e41d2c;
      }
    }

    &_title {
      font-family: $font-third;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      transition: color $ease-main;
    }

    &_tags {
      margin-top: 30px;
      display: flex;
      align-items: center;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #262626;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background: #e5e5e5;
            margin: 0 30px;
          }
        }
      }
    }

    &_salary {
      font-family: $font-third;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      text-align: right;
      transition: color $ease-main;
    }

    .content-nowrap {
      white-space: nowrap;
    }

    &_head {
      position: relative;
      display: grid;
      grid-template-columns: minmax(min-content, 60%) 1fr;
      column-gap: 60px;

      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 7px;
        right: -44px;
        border: 2px solid $color-basic;
        border-top-color: transparent;
        border-left-color: transparent;
        transition: transform $ease-main, border $ease-main;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &_dropdown {
      &-content {
        display: none;
        padding-top: 5px;
        padding-bottom: 20px;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #262626;
        margin-top: 35px;
        margin-bottom: 20px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #262626;
      }

      ul {
        li {
          position: relative;
          padding-left: 30px;
          font-size: 15px;
          line-height: 22px;

          &:not(:first-child) {
            margin-top: 15px;
          }

          &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            display: block;
            width: 20px;
            border-top: 2px solid $color-red;
            border-right: 2px solid transparent;
          }
        }
      }
    }

    &_contact {
      background-color: white;
      padding: 60px 80px 60px 40px;
      display: grid;
      grid-template-columns: 1fr minmax(260px, 1fr);
      align-items: center;
      overflow: hidden;
      margin-top: 40px;
      position: relative;
      left: -40px;

      &::before {
        content: "";
        height: 200%;
        width: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        transform-origin: left top;
        transform: rotate(15deg);
        z-index: 1;
        background: #fafafa;
        display: block;
      }

      &-text {
        margin-right: 60px;

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 130%;
          color: #262626;
          margin-bottom: 20px;
          margin-top: 0;
        }

        p {
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 150%;
          color: #262626;
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          a {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              &:after {
                content: "";
                display: block;
                width: 1px;
                height: 20px;
                background: #e5e5e5;
                margin: 0 20px;
              }
            }

            &.color {
              color: #e41d2c;
            }
          }
        }
      }

      .main-link_rect {
        max-width: 290px;

        i {
          margin-left: 20px;
        }
      }
    }
  }

  &-info {
    display: grid;
    grid-template-columns: minmax(400px, 600px) 1fr;
    grid-column-gap: 120px;
    margin-top: 90px;

    &_img {
      img {
        width: 100%;
        display: block;
      }
    }

    &_content {
      h2 {
        font-family: $font-third;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 144%;
        color: #262626;
        margin-bottom: 60px;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #262626;
        margin-bottom: 20px;

        span {
          display: block;
          margin-top: 5px;
          font-weight: normal;
        }
      }

      .main-link_rect {
        margin-top: 50px;
        min-width: 300px;
        max-width: 320px;
        margin-left: -10px;

        i {
          margin-left: 20px;
        }
      }
    }

    &_contacts {
      span {
        padding-left: 50px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        color: #262626;

        &.email {
          color: $color-red;
        }

        i {
          position: absolute;
          left: 0;
          top: 12px;
        }

        a {
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 200%;
        }
      }
    }
  }
}