.vacancy {
  &-list {
    position: relative;
    left: -40px;
    margin-top: 60px;
    width: calc(100% + 40px);

    @media (max-width: 1024px) {
      left: -30px;
      width: calc(100% + 30px + 30px);
    }
  }

  &-item {
    position: relative;
    padding: 40px 80px 40px 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &::before {
      opacity: 0;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: -80px;
      content: "";
      display: block;
      background: #fafafa;
      transition: opacity $ease-main;
    }

    &:after {
      position: absolute;
      top: 45px;
      right: 35px;
      transform: translateY(-50%) rotate(45deg);
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 2px solid $color-basic;
      border-top-color: transparent;
      border-left-color: transparent;
      transition: $ease-main;
    }

    &_head {
      position: relative;
      display: grid;
      grid-template-columns: minmax(min-content, 60%) 1fr;
      column-gap: 60px;
      cursor: pointer;

      &:hover {

        .vacancy-item_title,
        .vacancy-item_salary {
          color: $color-red;
        }

        &~.vacancy-item_salary {
          color: $color-red;
        }
      }
    }

    &_title {
      font-family: $font-third;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      transition: $ease-main;
    }

    &_tags {
      margin-top: 30px;
      display: flex;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 150%;
        color: #262626;

        &:not(:last-child) {
          &:after {
            margin: 0 30px;
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background: #e5e5e5;
          }
        }
      }
    }

    &_salary {
      font-family: $font-third;
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;
      text-align: right;
      transition: $ease-main;
    }

    &_dropdown {
      max-height: 0;
      overflow: hidden;
      padding-left: 40px;
      margin-left: -40px;
      
      &-content {
        padding-top: 5px;
        padding-bottom: 20px;
      }

      h3 {
        margin-top: 30px;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #262626;
      }

      ul {
        margin-top: 20px;

        li {
          position: relative;
          padding-left: 30px;
          font-size: 15px;
          line-height: 22px;

          &:not(:first-child) {
            margin-top: 20px;
          }

          &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            display: block;
            width: 20px;
            border-top: 2px solid $color-red;
            border-right: 2px solid transparent;
          }
        }
      }

      p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 150%;
        color: #262626;
      }
    }

    &_contact {
      position: relative;
      left: -40px;
      margin-top: 40px;
      padding: 60px 80px 60px 40px;
      width: calc(100% + 40px + 80px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      overflow: hidden;

      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-origin: right top;
        transform: skewX(-20deg);
        content: '';
        display: block;
        background: white;
      }

      &-text {
        margin-right: 60px;

        h3 {
          margin: 0;
          font-weight: bold;
          font-size: 18px;
          line-height: 130%;
        }

        p {
          margin-top: 20px;
          font-size: 15px;
          line-height: 150%;

          &+p {
            margin-top: 10px;
            display: flex;
            align-items: center;
          }

          a {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              &:after {
                margin: 0 20px;
                content: "";
                width: 1px;
                height: 20px;
                display: block;
                background: $color-border-second;
              }
            }

            &.content-red {
              color: #e41d2c;
            }
          }
        }
      }

      .main-link_rect {
        max-width: 280px;

        i {
          margin-left: 20px;
        }
      }

      @media (max-width: 1440px) {
        grid-template-columns: 436px minmax(260px, 1fr);
      }

      @media (max-width: 1167px) {
        display: block;

        .main-link_rect {
          margin-top: 40px;
        }
      }

      @media (max-width: 1024px) {
        width: calc(100% + 40px);
      }
    }

    &>.vacancy-item_salary {
      display: none;
      text-align: left;
    }

    .content-nowrap {
      white-space: nowrap;
    }

    &.open {
      &:before {
        opacity: 1;
      }

      &:after {
        transform: rotate(225deg);
        border-bottom-color: $color-red;
        border-right-color: $color-red;
      }

      .vacancy-item {
        &_title {
          color: $color-red;
        }

        &_salary {
          color: $color-red;
        }
      }
    }

    @media(max-width: 900px) {
      &_head {
        &>.vacancy-item_salary {
          display: none;
        }
      }

      &>.vacancy-item_salary {
        margin-top: 30px;
        display: block;
      }
    }
  }

  &-info {
    margin-top: 90px;
    display: grid;
    grid-template-columns: minmax(max-content, 400px) 1fr;
    column-gap: 120px;

    &>h2 {
      display: none;
      font-family: $font-third;
      font-weight: bold;
      font-size: 28px;
      line-height: 144%;
    }

    &_img {
      img {
        max-width: 100%;
        display: block;
      }

      @media (max-width: 1024px) {
        max-width: 320px;
      }
    }

    &_content {
      h2 {
        font-family: $font-third;
        font-weight: bold;
        font-size: 28px;
        line-height: 144%;
      }

      h3 {
        margin-top: 60px;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;

        span {
          margin-top: 5px;
          display: block;
          font-size: 15px;
          font-weight: normal;
        }
      }

      .main-link_rect {
        margin-top: 50px;
        min-width: 310px;
        max-width: 330px;
        margin-left: -10px;

        i {
          margin-left: 20px;
        }
      }
    }

    &_contacts {
      margin-top: 20px;

      span {
        padding-left: 50px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        color: #262626;

        &.phone {
          left: 2px;
        }

        &.email {
          color: $color-red;
        }

        i {
          position: absolute;
          left: 0;
          top: 8px;
        }

        a {
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 200%;
        }


      }
    }

    @media (max-width: 1440px) {
      column-gap: 60px;
    }

    @media (max-width: 1330px) {
      display: block;

      &>h2 {
        display: block;
      }

      &_img {
        margin-top: 45px;
      }

      &_content {
        margin-top: 60px;

        h2 {
          display: none;
        }
      }
    }
  }
}

.page .content-row .content.vacancy {
  padding: 60px 80px 120px 40px;

  @media (max-width: 1280px) {
    padding-right: 60px;
  }

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}