.whereBuy {
  padding-bottom: 120px;

  &-location {
    margin: -15px;
    margin-top: 45px;
    padding-right: 411px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .field {
      margin: 15px;
    }

    .buy-saler-card {
      position: absolute;
      right: 60px;
      top: 30px;

      &:hover {
        .buy-saler-help {
          opacity: 1;
          pointer-events: all;
        }

        .saler-help-mark {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }

      .buy-saler-help {
        cursor: default;
        pointer-events: none;
        opacity: 0;
        transition: $ease-main opacity;
        position: absolute;
        bottom: 100%;
        right: 22px;
      }
    }
  }

  .buy-markets-type {
    margin-top: 40px;
  }

  &-map {
    z-index: 5; // absolute по-умолчанию
    left: -60px;
    width: calc(100% + (60px * 2));
    height: 100%;
  }
  &-markets {
    position: relative;
    margin-top: 40px;
    height: 650px;

    .buy-markets-list {
      // лист магазинов
      position: absolute;
      z-index: 10;
      top: 70px;

      .markets-wrapper {
        max-height: 520px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  .buy-market-not-found {
    margin-top: 90px;
  }
}
