.sidebar
  .sidebar-menu
    a(href="") О компании
    a(href="") Новости
    .sidebar-menu_dropdown.active.open
      span Упаковка продукции
      .sidebar-menu_dropdown-list
        a(href="#") Упаковка 2015
        a(href="#").active Упаковка 2017
        a(href="#") Кодировка
    a(href="") Видеогалерея
    a(href="") Сотрудники
    a(href="") Вакансии
    a(href="") Социальная  ответственность
    a(href="") Контакты