each item in ['Сертификаты ГОСТ','Свидетельство государственной регистрации (СГР)','Лицензии и сертификаты','Санитарное заключение на грунтовку']
  .docs-item
    .docs-item_img
      img(src="images/type-pdf.png", alt="")
    .docs-item_name #{item}
    a.docs-item_download(href="" download) pdf, 15 mb