.fs-contacts {
  margin-top: 120px;


  h2 {
    font: normal bold 28px/40px $font-second;
    color: $color-main;
  }

  &_list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,minmax(300px, 1fr));
    grid-gap: 40px;
  }

  &_photo {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  h3 {
    margin-top: 40px;
    font: normal bold 18px/29px $font-main;
    color: $color-main;
  }

  p {
    font: normal normal 16px/29px $font-main;
    color: $color-main;
  }

  $link-block-height: 38.5px;
  $link-height: 20px;

  &_phone,
  &_email {
    position: relative;
    padding: (($link-block-height - $link-height) / 2) 0;

    i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    a {
      display: block;
      padding-left: 47px;
      word-break: break-all;
    }
  }

  &_phone {
    margin-top: 23px;

    a {
      font: normal normal 18px $font-main;
      line-height: $link-height;
      color: $color-main;
    }

    i {
      left: 3px;
    }
  }

  &_email {
    a {
      font: normal normal 15px $font-main;
      line-height: $link-height;
      color: $color-red;
    }
  }
}
