.fs-objects {
  margin-top: 120px;
  position: relative;

  h2 {
    font: normal bold 28px/40px $font-third;
    color: $color-basic;
  }

  &_all {
    position: absolute;
    z-index: 110;
    right: 0;
    top: 0;
    height: 30px;
    width: 155px;
  }

  &_control {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
    width: 110px;
    height: 200px;
    background-color: white;
  }

  &_next,
  &_prev {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 16.22px;
      height: 33.25px;
      right: 58px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(../images/trainers-control-arrow.svg);
      background-position: center;
      pointer-events: none;
    }
  }

  &_next {
    &::before {
      bottom: 33.75px;
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: $color-border-second;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }

  &_prev {
    &::before {
      top: 33.75px;
      transform: rotate(180deg);
    }
  }

  &_objects {
    position: relative;
    margin-top: 60px;
    
    .swiper-container {
      width: 100%;
      overflow: hidden;
    }
  }

  &_object {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &_photo {
    position: relative;
    width: 460px;
    flex-grow: 1;
    min-width: 300px;
    align-self: stretch;
    overflow: hidden;
    margin-right: 60px;

    img {
      min-width: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      min-height: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 90;
      bottom: 0;
      right: 0;
      border-bottom: 80px solid $color-red;
      border-left: 25px solid transparent;
    }
  }

  &_sticker {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 15px;
    width: 170px;
    height: 40px;
    padding-left: 22px;
    padding-top: 7px;
    background-image: url(../images/gray-rect-170x40.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    span {
      font: normal normal 15px/22px $font-main;
      color: $color-basic;
      white-space: nowrap;
    }
  }

  &_info {
    padding-right: 40px;

    .hashTags {
      max-width: 450px;
      margin: -5px -10px;
      margin-top: -10px;

      a {
        height: 23px;
        margin: 5px 10px;
      }
    }

    h3 {
      margin-top: 40px;
      font: normal bold 28px/40px $font-third;
      color: $color-basic;
    }

    p {
      margin-top: 8px;
      font: normal normal 15px/19px $font-main;
      color: $color-gray;
    }

    h4 {
      margin-top: 40px;
      font: normal bold 18px/26px $font-main;
      color: $color-basic;
    }

    ul {
      margin-top: 15px;
      
      li {
        position: relative;
        font: normal normal 15px/19px $font-main;
        color: $color-basic;
        padding-left: 32px;

        &:not(:first-child) {
          margin-top: 11px;
        }

        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          border-top: 2px solid #E41D2C;
          border-right: 1px solid transparent;
        }
      }
    }
  }

  &_products {
    margin-top: 15px;

    a {
      display: block;
      font: normal normal 15px/19px $font-main;
      color: $color-basic;
      text-decoration: underline;

      &:not(:first-child) {
        margin-top: 11px;
      }
    }
  }
}
