.fsContacts
  h2 Контакты
  .fsContacts-list
    .fsContacts-item
      .fsContacts-photo
        img(src="../images/photo-contact1-344x390.png", alt="")
      h3 Меньшиков Николай Владимирович
      p Руководитель направления СФТК
      .fsContacts-phone
        a(href="tel:8 913 001 75 01") +7 (913) 001-75-01
      .fsContacts-email
        a(href="menshikov.nv@gerkules.ru") menshikov.nv@gerkules.ru
    .fsContacts-item
      .fsContacts-photo
        img(src="../images/photo-contact2-343x390.png", alt="")
      h3 Меньшиков Николай Владимирович
      p Руководитель направления СФТК
      .fsContacts-phone
        a(href="tel:8 913 001 75 01") +7 (913) 001-75-01
      .fsContacts-email
        a(href="menshikov.nv@gerkules.ru") menshikov.nv@gerkules.ru
    .fsContacts-item
      .fsContacts-photo
        img(src="../images/photo-contact1-344x390.png", alt="")
      h3 Меньшиков Николай Владимирович
      p Руководитель направления СФТК
      .fsContacts-phone
        a(href="tel:8 913 001 75 01") +7 (913) 001-75-01
      .fsContacts-email
        a(href="menshikov.nv@gerkules.ru") menshikov.nv@gerkules.ru
