.fsObjectsCFTK
  .fsObjectsCFTK-all
    a(href="#")
      span Все объекты
  .fsObjectsCFTK-control
    button.fsObjectsCFTK-next
    button.fsObjectsCFTK-prev
  h2
    | Объекты, на которых
    br
    | приминялись СФТК GERCULES
  .fsObjectsCFTK-objects
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .fsObjectsCFTK-object
            .fsObjectsCFTK-sticker
              span Сдан в 2018 году
            .fsObjectsCFTK-photo
              img(src="../images/objectCFTK.png", alt="")
            .fsObjectsCFTK-info
              +hashTags([["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"]])
