.fsObjectsCFTK
  .fsObjectsCFTK-all
    a(href="#")
      span Все объекты
  h2
    | Объекты, на которых
    br
    | приминялись СФТК GERCULES
  .fsObjectsCFTK-objects
    .fsObjectsCFTK-control
      button.fsObjectsCFTK-next
      button.fsObjectsCFTK-prev
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .fsObjectsCFTK-object
            .fsObjectsCFTK-photo
              .fsObjectsCFTK-sticker
                span Сдан в 2018 году
              img(src="../images/objectCFTK.png", alt="")
            .fsObjectsCFTK-info
              +hashTags([["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"]])
              h3 ЖК VIVANOVA
              p г. Новосибирск, ул. Иванова, 8
              h4 Выполенные работы
              ul
                li Выравнивание стен / оштукатуривание
                li Заливка / выравнивание полов
                li Монтаж СФТК
              h4 Продукты «Геркулес»
              .fsObjectsCFTK-products
                a(href="#") GP-21M Штукатурка цементная для машинного нанесения
                a(href="#") Штукатурная станция mono-mix FU (на 220В)
                a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
                a(href="#") GP-21M Штукатурка цементная для машинного нанесения

