.trainers-slider
  +sliderControls
    button.trainers-control-prev
    button.trainers-control-next
  .trainers-swiper
    .swiper-wrapper
      .swiper-slide
        .trainers-slide
          img(src="./images/academy-trainer-1.png", alt="")
          p Специалист по DIY
          h3 Боленков Андрей Викторович
          p
            | Американский актёр и продюсер. Лауреат премии «Золотой глобус» за 1995 год — за роль второго плана в ленте «Двенадцать обезьян»
      .swiper-slide
        .trainers-slide
          img(src="./images/academy-trainer-2.png", alt="")
          p Технический специалист
          h3 Заеленец Наталья Васильевна
          p
            | Четыре раза был номинирован на премию «Оскар» за лучшую мужскую роль в фильмах «Авиатор», «Кровавый алмаз», «Волк с Уолл-стрит» и «Выживший», а также за лучшую мужскую роль второго плана в фильме «Что гложет Гилберта Грэйпа»
      .swiper-slide
        .trainers-slide
          img(src="./images/academy-trainer-3.png", alt="")
          p Директор по продажам DIY
          h3 Жукова Ирина Александровна
          p
            | Американский кинорежиссёр, сценарист, актёр, кинопродюсер и кинооператор. Один из наиболее ярких представителей постмодернизма в кинематографе
