// block
.btn-p-gram {
  position: relative;
  height: 70px;
}

// button
.btn-p-gram__btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(calc(-50% - (25px / 2))) skewX(-20deg);
  width: calc(100% - 25px);
  height: 100%;
  display: block;

  &:hover {
    &+.btn-p-gram__view-wrap .btn-p-gram__view {
      &::before {
        transform: translateX(-200%);
      }
  
      &::after {
        transform: translateX(200%);
      }
    }

    &~.btn-p-gram__content .btn-p-gram__icon {
      transform: translateX(10px);
    }
  }
}

.btn-p-gram__view-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + (10px * 2));
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.btn-p-gram__view {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(calc(-50% - (25px / 2))) skewX(-20deg);
  width: calc(100% - (10px * 2) - 25px);
  height: 100%;
  background: $color-red;

  &::before,
  &::after {
    position: absolute;
    top: -100%;
    content: "";
    display: block;
    width: 5px;
    height: 300%;
    background: $color-red;
    transition: $ease-main;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.btn-p-gram__content {
  position: relative;
  z-index: 2;
  padding: 0 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.btn-p-gram__text {
  margin-right: 20px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  white-space: nowrap;
}

.btn-p-gram__icon {
  transition: $ease-main;

  i {
    display: block;
  }
}

