// при изменении высоты кнопки, необходимо пересчитать параметры ниже
$a: 10px;
$b: 25px;
$c: 20deg;

.button-parallelogram {
  position: relative;
  width: calc(270px + (#{$a} * 2));
  height: 70px;
  overflow: hidden;
  border: 1px solid black;
}

// фон и декор для ховера
.button-parallelogram__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left bottom;
  transform: translate(calc(-50% - (#{$b} / 2)), -50%) skewX(-$c);
  // transform: translate(calc(-50% - 12.5px), -50%);
  // параметр зависящий от высоты кнопки
  width: calc(100% - (#{$a} * 2) - #{$b});
  height: 100%;
  background: $color-red;

  &::before,
  &::after {
    position: absolute;
    top: -100%;
    content: "";
    display: block;
    width: 5px;
    height: 300%;
    background: black;
    transition: $ease-main;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover {
    &::before {
      transform: translateX(-200%);
    }

    &::after {
      transform: translateX(200%);
    }
  }
}

/*
.button-parallelogram__button {
  position: relative;
  transform-origin: left bottom;
  transform: skewX(-20deg);
  width: calc(100% - 25px);
  height: 70px;
  display: block;
  background: $color-red;

  &::before,
  &::after {
    position: absolute;
    top: -100%;
    content: "";
    display: block;
    width: 5px;
    height: 300%;
    background: black;
    transition: $ease-main;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover {
    &::before {
      transform: translateX(-200%);
    }

    &::after {
      transform: translateX(200%);
    }
  }
}
*/