.fs-info_guarantee
  h3 25
    span лет гарантии
  p Гарантия предоставляется сроком до 25 лет на конструктивную целостность СФТК GERKULES FACADE, стабильность и качество эксплуатационных свойств материалов, производимых ООО «Геркулес-Сибирь». Срок гарантии указывается в гарантийном талоне.