
if(!imgObject)
  -var imgObject = 'objectCFTK.png';
if(!nameObject)
  -var nameObject = 'ЖК VIVANOVA';
.fs-objects_object
  a(href="").display--block.fs-objects_photo
    .fs-objects_sticker
      span Сдан в 2018 году
    img(src=`./images/${imgObject}` alt="")
  .fs-objects_info
    +hashTags([["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"]])
    a(href="").display--block
      h3 #{nameObject}
      p г. Новосибирск, ул. Иванова, 8
      h4 Выполенные работы
      ul
        li Выравнивание стен / оштукатуривание
        li Заливка / выравнивание полов
        li Монтаж СФТК
      h4 Продукты «Геркулес»
    .fs-objects_products
      a(href="#") GP-21M Штукатурка цементная для машинного нанесения
      a(href="#") Штукатурная станция mono-mix FU (на 220В)
      a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
      a(href="#") GP-21M Штукатурка цементная для машинного нанесения
      a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
      a(href="#") Штукатурная станция mono-mix FU (на 220В)
      a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
      a(href="#") GP-21M Штукатурка цементная для машинного нанесения
    button.b-object__products-showmore
      .b-object__products-showmore-text Посмотреть все
-var imgObject = false
-var nameObject = false
