.fs-objects
  .fs-objects_all
    +link("#", "Все объекты")
  h2
    | Объекты, на которых
    br
    | приминялись СФТК GERCULES
  .fs-objects_objects
    +sliderVerticalControls
      button.fs-objects_next
      button.fs-objects_prev
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          include ./object
