.sidebar
  .sidebar-menu
    a(href="") Фасадные системы
    a(href="") Продукция СФТК
    .sidebar-menu_dropdown.active.open
      span Описание системы‎
      .sidebar-menu_dropdown-list
        a(href="#").active Описание системы СФТК
        a(href="#") Декоративные возможности
        a(href="#") Области применения СФТК
        a(href="#") Приемущества СФТК
    .sidebar-menu_dropdown 
      span Услуги и сервис
      .sidebar-menu_dropdown-list
        a(href="#") Механизированное нанесение КАС
        a(href="#") Услуга шеф-монтажа
        a(href="#") Обучение в академии «Геркулес»
        a(href="#") Персональный расчет количества материалов
    .sidebar-menu_dropdown 
      span Справочная информация
      .sidebar-menu_dropdown-list
        a(href="#") Этапы монтажа
        a(href="#") Техническая документация СФТК
        a(href="#") Статьи о СФТК
        a(href="#") Видео о СФТК
    a(href="") Объекты