// FONTS

$font-main: "Arimo";
$font-title: "Nexa Replica Ru";

// COLORS

$color-black: #262626;
$color-gray-border: #E5E5E5;
$color-gray-placeholder: #B2B2B2;
$color-gray-background: #F4F4F4;
$color-gray: #6C6C6C;
$color-red: #E41D2C;

// SIZES

$hash-height: 22px;
