.sidebar
  .sidebar-menu
    a(href="").active Центральный офис
    a(href="") Консультации и сервис
    a(href="") Клиентский сервис
    a(href="") Техническая поддержка 
    a(href="") по продукции
    a(href="") Отдел качества
    a(href="") Механизированные технологии
    a(href="") Коммерческая служба
    a(href="") Логистика и закупка
    a(href="") Отдел маркетинга
    a(href="") Отдел персонала