.events-control
  .control-date
    button.date-prev
    span Сентябрь 2020
    button.date-next
  .control-loc
    .loc-caption События в:
    +field_select('location',[[0,'Санкт-Петербург'],[1,'Москва']])
  +field_checkbox()
      input#learning(type="checkbox", name="learning" checked )
      label(for="learning") Онлайн обучение и вебинары
