.eventInfoPanel
  .eventDate
    div
      p 10
      p
        span января,
        span среда
  .eventTime
    p 13:00
  .eventAddress
    p г. Новосибирск, улица Красных красивых партизан, 7,  БЦ Победа, офис 57

