.events-card
  a(href="#")
    h3 Семинары по работе с сухими смесями «Геркулес»
  +hashTags(["семинар"])
  .events-card-date
    span 5
    span сен
  .events-card-time
    span 14:00
.events-card
  a(href="#")
    h3 Семинары по работе с сухими смесями «Геркулес»
  +hashTags(["семинар"])
  .events-card-date
    span 27
    span сен
  .events-card-time
    span 14:00
