.eventRegistration
  h2 Принять участие
  form(action="")
    .eventRegistration-row
      .eventRegistration-col
        +field_base("name", "name", "Имя", "Алексей")
        +field_base("surname", "surname", "Фамилия", "Биланин")
        +field_base("phone", "phone", "Номер телефона*", "+7 (___) ___-__-__")
      .eventRegistration-col
        +field_base("city", "city", "Город*", "Омск")
        +field_base("companyName", "companyName", "Название компании", "ООО ГК ПЛЮС")
        +field_base("email", "email", "Email", "ksh@loudmill.ru")
    +field_area("comment", "comment", "Комментарий", "Хочу записаться", [30, 10])
    .eventRegistration-row
      .eventRegistration-col
        +field_checkbox()
          input#pp_register(type="checkbox", name="pp" checked data-required)
          label(for="pp_register") «Я выражаю согласие на обработку ПДн в соответствии с 
            a(href="") Политикой конфиденциальности
            |»
      .eventRegistration-col
        +linkRect
          button(id="submit", name="submit")
          span Записаться
          +icon("link-white-arrow", "svg")
