.eventSpeaker
  h2 Спикер
  .eventSpeaker-slider
    +sliderControls
      button.eventSpeaker-slider-prev
      button.eventSpeaker-slider-next
    .swiper-wrapper
      .swiper-slide
        .eventSpeaker-row
          .eventSpeaker-photo
            img(src="./images/academy-trainer-2.png" alt="speaker")
          .eventSpeaker-info
            h3
              | Боленков
              br
              | Андрей Викторович
            h4 Технический директор
            .info-row
              .info-col
                .eventSpeaker-phone
                  +icon("phone", "svg")
                  a(href="tel:8 383 338 31 32") +7 (383) 338-31-32 вн. 119
                .eventSpeaker-email
                  +icon("mail", "svg")
                  a(href="bolenkov.av@gerkules.ru") bolenkov.av@gerkules.ru
              .info-col Американский актёр и продюсер. Лауреат премии «Золотой глобус» за 1995 год — за роль второго плана в ленте «Двенадцать обезьян»
      .swiper-slide
        .eventSpeaker-row
          .eventSpeaker-photo
            img(src="./images/academy-trainer-2.png" alt="speaker")
          .eventSpeaker-info
            h3
              | Боленков
              br
              | Андрей Викторович
            h4 Технический директор
            .info-row
              .info-col
                .eventSpeaker-phone
                  +icon("phone", "svg")
                  a(href="tel:8 383 338 31 32") +7 (383) 338-31-32 вн. 119
                .eventSpeaker-email
                  +icon("mail", "svg")
                  a(href="bolenkov.av@gerkules.ru") bolenkov.av@gerkules.ru
              .info-col Американский актёр и продюсер. Лауреат премии «Золотой глобус» за 1995 год — за роль второго плана в ленте «Двенадцать обезьян»
