.buy {
  &-saler-card {
    position: relative;
    padding: 9px 45px 2px 45px;
    cursor: pointer;

    .saler-help-mark {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 14px;
      top: 11px;

      &::before,
      &::after {
        transition: $ease-main opacity;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::before {
        background-image: url(../images/question-mark-16x16.svg);
      }

      &::after {
        opacity: 0;
        background-image: url(../images/question-mark-active-16x16.svg);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 60px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-left: 4px solid #e41d2c;
      border-top: 2px solid transparent;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      font-family: $font-second;
      white-space: nowrap;
    }

    p {
      margin-top: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      color: #6c6c6c;
      white-space: nowrap;
    }
  }

  &-saler-help {
    padding-top: 28px;
    padding-left: 41px;
    width: 285px;
    height: 166px;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      display: block;
      background-color: #f8f8f8;
      height: 100%;
      width: 150%;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 5%;
      transform: skewX(-15deg);
    }
    a {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 200%;

      &:last-child {
        line-height: 300%;
        color: $color-red;
      }
    }
  }

  &-markets-type {
    display: flex;
    align-items: flex-end;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: $color-border;
      position: absolute;
      bottom: 0;
      left: -200%;
      width: 500%;
    }

    [data-markets-type] {
      transition: $ease-main color;
      position: relative;
      height: 51px;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
      white-space: nowrap;
      padding-bottom: 21px;

      &::before {
        transition: $ease-main opacity;
        opacity: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 4px solid #e41d2c;
        border-right: 2px solid transparent;
      }

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.active {
        color: $color-red;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &-markets-list {
    // оформление подложки
    position: relative;
    background-color: white;
    filter: drop-shadow(0px 14px 54px rgba(0, 0, 0, 0.15));

    // красная полоса сверху
    &::before {
      z-index: 10; // полоса перекрывает карточки
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      top: 1px;
      left: 0;
      right: 0;
      background-color: $color-red;
    }

    .markets {
      // скролл панель
      &-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        width: 5px;
        background-color: white;

        // ползунок
        span {
          position: absolute;
          display: block;
          width: 5px;
          height: 78px;
          background-color: $color-red;
          left: 0;
          top: 67px;
        }
      }

      &-wrapper {
        max-height: 520px;
        overflow-x: hidden;
        overflow-y: auto;

        @include customScrollBar(5px, 520px, $color-red, white);
      }

      // элемент (карточка + дроп)
      &-item {
        &.active {
          .market-front {
            background-color: #F4F4F4;
          }
        }
        .market {
          // карточка
          &-front {
            z-index: 5;
            position: relative;
            height: 130px;
            width: 412px;
            padding: 44px 45px 32px 58px;
            background-color: white;
            cursor: pointer;
            border: 1px solid $color-border;
            transition: all 0.3s;
            &:hover {
              background-color: #F4F4F4;
            }

            &::before {
              transition: $ease-main transform;
              content: "";
              display: block;
              width: 10px;
              height: 5px;
              position: absolute;
              top: 49px;
              right: 28px;
              background-image: url(../images/market-card-arrow.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }

          //эл-ты карточки
          &-name {
            font-family: $font-second;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
          }

          &-link {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 30px;
            color: $color-gray;
          }

          // дроп
          &-dropdown {
            display: none;
            padding: 0 30px 35px 60px;
            background-color: #f4f4f4;


            &__item {

              &:not(:first-child) {
                margin-top: 25px;
              }
            }

            &__location {
              color: $color-red;
              text-decoration-line: underline;
              text-decoration-style: dashed;
            }

            &__description {
              margin-top: 5px;
              font-size: 12px;
            }

            &__info {
              margin-top: 10px;
              display: flex;
              align-items: center;
            }

            &__time {
              position: relative;
              margin-left: 60px;
              white-space: nowrap;

              &::before {
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translateY(-50%);
                content: "";
                display: block;
                width: 1px;
                height: 20px;
                background-color: $color-border;
              }
            }

            &__phone {
              font-weight: bold;
              white-space: nowrap;
            }
          }
        }

        &:not(:last-child) {
          .market-front {
            border-bottom: none;
          }
        }

        // открытая карточка
        &.open {
          .market-dropdown {
            display: block;

          }

          .market-front {
            background-color: #F4F4F4;
            border-bottom: none;

            &::before {
              transform: rotate(180deg);
            }
          }

          &:last-child {
            .market-front {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &-market-not-found {
    position: relative;
    left: -61px;
    display: flex;
    max-width: 1440px;
    min-width: 1070px;
    height: 370px;
    padding: 80px 180px 80px 60px;
    background-repeat: no-repeat;
    z-index: 2;
    &::before {
      content: "";
      display: block;
      background-color: #f8f8f8;
      height: 100%;
      width: 150%;
      position: absolute;
      z-index: -1;
      right: 5%;
      transform: skewX(-15deg);
      top: 0;
    }
    h2 {
      font-family: $font-second;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      flex-basis: 430px;
      margin-right: 85px;
    }

    div {
      position: relative;
    }

    p {
      margin-top: 10px;
      max-width: 540px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
    }

    .main-link_rect {
      position: absolute;
      bottom: 0;
      width: 328px;

      i {
        margin-left: 17px;
        width: 25px;
        height: 14px;
      }
    }
  }
}
.whereBuy {
  &-map {
    position: absolute;
    background-image: url(../images/map.png);
    background-position: left top;
    background-size: auto 100%;
    position: relative;
    z-index: 2;
    .map-data {
      display: none;
    }
    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}
